
<div class="work_together-container">
  <div class="work_together-body">
    <img src="assets/images/LogoB@4x.png" alt="logo" class="logo_footer">
    <div class="social_media">
      <div class="list_titles">
        <div class="active" routerLink="/" >Inicio</div>
        <div class="active" routerLink="/services">Servicios</div>
        <div class="active" routerLink="/projects">Proyectos</div>
        <div class="active" routerLink="/us">Nosotros</div>
        <div class="active" routerLink="/contact">Contacto</div>
      </div>
      <div class="social_media_logos">
        <a href="https://www.instagram.com/la261agencia" target="_blank">
          <img src="assets/images/btn_instagram.png" alt="">
        </a>
        <a href="https://www.linkedin.com/company/la261/" target="_blank">
          <img src="assets/images/btn_linkedin.png" alt="">
        </a>
        <a href="https://www.facebook.com/profile.php?id=61567563443124" target="_blank">
          <img src="assets/images/btn_facebook.png" alt="">
        </a>
      </div>
    </div>
    <div class="work_together-slogan">
      <div class="work_together-title">
        Trabajemos juntos <br>
        ¡Envíanos un correo y <br>
        agendemos una reu!
      </div>
      <a class="work_together-email" href="mailto:comunicaciones@la261.com?Subject=¡Trabajemos juntos!&body=Buen día,%0D%0DMe gustaría agendar una reunión.">
        comunicaciones&#64;la261.com
      </a>
    </div>
  </div>
  <div class="work_together-footer">
    La261. Todos los derechos reservados 2024
  </div>
</div>
