
<div class="work_together-container">
  <div class="work_together-body">
    <img src="assets/images/LogoB@4x.png" alt="logo" class="logo_footer">
    <div class="social_media">
      <div class="list_titles">
        <div>Inicio</div>
        <div>Servicios</div>
        <div>Proyectos</div>
        <div>Nosotros</div>
        <div>Contacto</div>
      </div>
      <div class="social_media_logos">
        <img src="assets/images/Boton Instagram@2x.png" alt="">
        <img src="assets/images/Boton Linkedin@2x.png" alt="">
        <img src="assets/images/Boton Facebook@2x.png" alt="">
      </div>
    </div>
    <div class="work_together-slogan">
      <div class="work_together-title">
        Trabajemos juntos <br>
        ¡Envíanos un correo y <br>
        agendemos una reu!
      </div>
      <div class="work_together-email">
        comunicaciones&#64;la261.com
      </div>
    </div>
  </div>
  <div class="work_together-footer">
    La261. Todos los derechos reservados 2024
  </div>
</div>
