  <div class="creative_process">
      <div class="creative_process_container">
        <div class="all_ideas">
          Todas tus ideas pueden volverse grandes proyectos.
        </div>
        <div class="title">
          ¿Cuál es nuestro <br> proceso creativo?
        </div>

        <div class="creative_process-body">
          <div class="scroll_section">
            <div class="scroll_body">
              <div class="scroll_item">
                <img src="assets/images/creative-process/linea_flecha_1.png" alt="" class="flecha_1">
                <img src="assets/images/creative-process/n_1.png" alt="" class="number">
                <div class="text">
                  <div class="text_arrow">
                    <div class="text_arrow-title">
                      Escuchar, <br> observar, <br> entender
                    </div>
                    <div class="text_arrow-description">
                      Conocemos las necesidades, inquietudes y objetivos del cliente mediante una conversación empática y abierta para el intercambio libre de ideas.
                    </div>
                  </div>
                </div>
              </div>
              <div class="scroll_item">
                <img src="assets/images/creative-process/linea_flecha_2.png" alt="" class="flecha_2">
                <img src="assets/images/creative-process/n_2.png" alt="" class="number">
                <div class="text">
                  <div class="text_arrow">
                    <div class="text_arrow-title">
                      Aterrizar <br> las ideas <br> clave
                    </div>
                    <div class="text_arrow-description">
                      Transformamos esas ideas en una propuesta creativa coherente, alineando el proyecto con la identidad del cliente y sus objetivos.
                    </div>
                  </div>
                </div>
              </div>
              <div class="scroll_item">
                <img src="assets/images/creative-process/linea_flecha_2.png" alt="" class="flecha_2">
                <img src="assets/images/creative-process/n_3.png" alt="" class="number">
                <div class="text">
                  <div class="text_arrow">
                    <div class="text_arrow-title">
                      Estructurar <br> la propuesta <br> de valor
                    </div>
                    <div class="text_arrow-description">
                      Aplicamos todo nuestro expertise para planificar, estructurar y organizar la estrategia ganadora.
                    </div>
                  </div>
                </div>
              </div>
              <div class="scroll_item">
                <img src="assets/images/creative-process/linea_cierre.png" alt="" class="linea_cierre">
                <img src="assets/images/creative-process/n_4.png" alt="" class="number">
                <div class="text">
                  <div class="text_arrow">
                    <div class="text_arrow-title">
                      Ejecutar una <br> experiencia <br> única
                    </div>
                    <div class="text_arrow-description">
                      Llevamos a cabo la estrategia, convirtiéndola en una experiencia única, sólida y creativamente efectiva.
                    </div>
                    <a class="principal_button" routerLink="/projects">
                      NUESTROS PROYECTOS
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a class="principal_button corner" routerLink="/services">
          NUESTROS SERVICIOS
        </a>
      </div>
    </div>
