<div class="sidebar" [ngStyle]="{
  'right': isSidebarOpen ? '0px' : '-300px'
  }">
  <div class="close_sidebar">
    <div class="icon" (click)="handleSidebar()">
      ×
    </div>
  </div>
  <div class="sidebar_items">
    <div class="side_item active" routerLink="/">Inicio</div>
    <div class="side_item active" routerLink="/services">Servicios</div>
    <div class="side_item active" routerLink="/projects">Proyectos</div>
    <div class="side_item inactive">Nosotros</div>
    <div class="side_item active" routerLink="/contact">Contacto</div>
  </div>
  <div class="sidebar_contact">
    <img src="assets/images/LogoB@4x.png" alt="logo" class="logo_navbar">
    <a href="mailto:comunicaciones@la261.com?Subject=¡Trabajemos juntos!&body=Buen día,%0D%0DMe gustaría agendar una reunión.">comunicaciones&#64;la261.com</a>
  </div>
  <div class="social_media_logos">
    <a href="https://www.instagram.com/la261agencia" target="_blank">
      <img src="assets/images/Boton Instagram@2x.png" alt="">
    </a>
    <a href="https://www.linkedin.com/company/la261/" target="_blank">
      <img src="assets/images/Boton Linkedin@2x.png" alt="">
    </a>
    <a href="https://www.facebook.com/profile.php?id=61567563443124" target="_blank">
      <img src="assets/images/Boton Facebook@2x.png" alt="">
    </a>
  </div>
</div>
<div class="dark-background"
(click)="handleSidebar()"
[ngStyle]="{
  'opacity': isSidebarOpen ? '1' : '0',
  'display': isSidebarOpen ? 'block' : 'none'
  }"
></div>
<div class="navbar">
  <div class="navbar-container">
    <img src="assets/images/LogoB@4x.png" alt="logo" class="logo_navbar" routerLink="/">

    <div class="bar">
      <div class="bar_container">
        <div class="active" routerLink="/">INICIO</div>
        <div class="active" routerLink="/services">SERVICIOS</div>
        <div class="active" routerLink="/projects">PROYECTOS</div>
        <div class="inactive">NOSOTROS</div>
        <div class="active" routerLink="/contact">CONTACTO</div>
      </div>
    </div>

    <div class="menu" (click)="handleSidebar()">
      <img src="assets/images/Hamburguesa12@4x.png" alt="">
      <div class="text_menu">
        MENU
      </div>
    </div>
  </div>
</div>
