@mixin btn-basic() {
  width: 154px;
  font-size: 8.5px;
  font-family: 'ai-semibo';
  height: 35px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid black;

  @media (min-width: 1024px) {
    font-size: 12px;
    width: 220px;
  }
  @media (min-width: 1440px) {
    font-size: 12px;
    width: 220px;
  }
  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}
