:host {
  .main {
    width: 100%;
    display:flex;
    justify-content: center;
    // NEW
    contain: paint;
    .main_container {
      width: 100%;
      height: 100vh;
      overflow: scroll;
      display:flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      app-navbar {
        position: sticky;
        width: 100%;
        top: 0px;
        z-index: 10;
      }
    }
  }
}
