@import 'variables.scss';
@import 'element-footer.mixin.scss';
@import 'btn.mixin.scss';

:host {
  .main {
    width: 100%;
    display:flex;
    justify-content: center;
    // NEW
    contain: paint;
    .main_container {
      width: 100%;
      height: 100vh;
      overflow: scroll;
      display:flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      app-navbar {
        position: sticky;
        width: 100%;
        top: 0px;
        z-index: 10;
      }
      .projects {
        padding: 50px 20px 0 20px;
        width: 100%;
        padding: 42px 20px 30px 20px;

        @media (min-width: 768px) {
          padding: 65px 50px 65px 50px;
          max-width: 1440px;
        }
        @media (min-width: 1024px) {
          padding: 75px 50px 75px 50px;
          max-width: 1440px;
        }
        @media (min-width: 1440px) {
          padding: 45px 75px 85px 75px;
          max-width: 1440px;
        }
        .main_part {
          @media (min-width: 1024px) {
            display: flex;
            gap: 35px;
          }
          @media (min-width: 1440px) {
            display: flex;
            gap: 35px;
          }
          .project_text-body {
            @media (min-width: 1024px) {
              width: calc(33% - 17px);
              margin-top: 70px;
            }
            @media (min-width: 1440px) {
              width: auto;
              margin-top: 105px;
            }
            .title_project {
              .sub {
                font-family: 'ai-semibo';
                font-size: 12.5px;
                @media (min-width: 768px) {
                  font-size: 18px;
                }
                @media (min-width: 1440px) {
                  font-size: 18px;
                }
              }
              .main-title {
                font-size: 25px;
                font-family: 'ai-bold';
                @media (min-width: 768px) {
                  font-size: 30px;
                  line-height: 28px;
                }
                @media (min-width: 1440px) {
                  font-size: 35px;
                  line-height: 32px;
                }
              }
              .main-italic {
                font-size: 23.5px;
                font-family: 'ai-boit';
                @media (min-width: 768px) {
                  font-size: 32px;
                }
                @media (min-width: 1440px) {
                  font-size: 35px;
                }
              }
              .main-title, .main-italic {
                margin-bottom: 26px;
                @media (min-width: 1024px) {
                  margin-bottom: 19px;
                }
                @media (min-width: 1440px) {
                  margin-bottom: 21px;
                }
              }
            }
            .description_project {
              padding: 26px 0;
              border-top: 1px solid black;
              @media (min-width: 450px){
                border-bottom: 1px solid black;
              }
              @media (min-width: 1024px) {
                width: 80%;
                border-bottom: none;
              }
              @media (min-width: 1440px) {
                width: 100%;
                border-bottom: none;
              }
              .focus-title {
                font-size: 12.5px;
                font-family: 'ai-semibo';
                background-color: $la261_yellow;
                width: fit-content;
                @media (min-width: 768px) {
                  font-size: 17px;
                }
                @media (min-width: 1440px) {
                  font-size: 18px;
                }
              }
              .description-text {
                font-size: 11.5px;
                font-family: 'ai-li';
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap:10px;
                @media (min-width: 768px) {
                  font-size: 15px;
                  letter-spacing: 0.4px;
                }
                @media (min-width: 1440px) {
                  font-size: 16px;
                  letter-spacing: 0.5px;
                }
              }
            }
          }
          .slider-container {
            width: 100%;
            position: relative;
            @media (min-width: 1024px) {
              //max-width: calc(560px + 78px);
              max-width: calc(66% - 7px);
            }
            @media (min-width: 1440px) {
              max-width: calc(900px + 78px);
            }
            .arrow-right, .arrow-left {
              display: none;

              position: absolute;
              z-index: 5;
              @media (min-width: 450px) {
                display: block;
              }
              @media (min-width: 1024px) {
                position: relative;
              }
              @media (min-width: 1440px) {
                position: relative;
              }
              img {
                width: 20px;
                height: 20px;
                @media (min-width: 768px) {
                  width: 32px;
                  height: 32px;
                }
                @media (min-width: 1440px) {
                  width: 32px;
                  height: 32px;
                }
                &:hover {
                  cursor: pointer;
                }
              }
            }
            .arrows {
              @media (min-width: 1024px) {
                display: flex;
                gap: 10px;
              }
              @media (min-width: 1440px) {
                display: flex;
                gap: 10px;
              }
              .arrow-right {
                right: 10px;
                top: 50%;
                @media (min-width: 1024px) {
                  right: auto;
                  top: auto;
                }
                @media (min-width: 1440px) {
                  right: auto;
                  top: auto;
                }
              }
              .arrow-left {
                left: 10px;
                top: 50%;
                @media (min-width: 1024px) {
                  left: auto;
                  top: auto;
                }
                @media (min-width: 1440px) {
                  left: auto;
                  top: auto;
                }
              }
            }
            .project_photos {
              padding: 10px 0;

              display:flex;

              width: 100%;
              max-width: calc(100vw - 40px);
              margin-bottom: 40px;
              @media (min-width: 450px) {
                height: 445px;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
              }
              @media (min-width: 1024px) {
                //height: 450px;
                height: 600px;
                margin-bottom: 10px;
                //max-width: calc(560px + 78px);
                max-width: 100%;
              }
              @media (min-width: 1440px) {
                height: 685px;
                margin-bottom: 10px;
                max-width: calc(900px + 78px);
              }
              &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
                @media (min-width: 1024px) {
                  display: none;
                }
                @media (min-width: 1440px) {
                  display: none;
                }
              }
              &::-webkit-scrollbar-track {
                background: transparent;
                border: 1px solid black;
                border-radius: 20px;
                margin: 20px 0;
              }
              &::-webkit-scrollbar-thumb {
                background: black;
                border-radius: 20px;
              }

              .photos_scroll {
                display: flex;
                flex-direction: column;

                gap: 1px;

                @media (min-width: 450px) {
                  gap: 18px;
                  flex-direction: row;
                  scroll-snap-type: x mandatory;
                  scroll-behavior: smooth;
                  -webkit-overflow-scrolling: touch;
                }

                .photo-item {
                  // TODO: cuando el width de la img no abarca toda la pantalla
                  // TODO: (debido a que el height limita el tamaño de la img)
                  // TODO: se produce un width "sobrante" que perjudica la UX
                  // TODO: del usuario.
                  scroll-snap-align: start;
                  min-width: calc(100vw - 40px);
                  @media (min-width: 768px) {
                    min-width: calc(100vw - 100px);
                  }
                  @media (min-width: 1024px) {
                    width: min-content;
                    //max-width: calc(560px + 36px);
                    //max-width: 750px;
                    max-width: 590px;

                    min-width: min-content;
                  }
                  @media (min-width: 1440px) {
                    min-width: min-content;
                    max-width: calc(900px + 66px);
                  }

                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                    max-width: calc(100vw - 40px);
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    @media (min-width: 768px) {
                      max-width: calc(100vw - 100px);
                    }
                    @media (min-width: 1024px) {
                      max-width: inherit;
                      width: inherit;
                      height: 100%;
                      object-fit: cover;
                    }
                    @media (min-width: 1440px) {
                      max-width: inherit;
                      width: inherit;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  youtube-player {
                    width: calc(100vw - 40px);
                    height: 240px;
                    @media (min-width: 450px) {
                      width: calc(100vw - 40px);
                      height: 420px;
                    }
                    @media (min-width: 768px) {
                      width: calc(100vw - 100px);
                      height: 420px;
                    }
                    @media (min-width: 1024px) {
                      width: 590px;
                      height: 100%;
                    }
                    @media (min-width: 1440px) {
                      width: 927px;
                      height: 100%;
                    }
                    ::ng-deep {
                      youtube-player-placeholder {
                        height: 100% !important;
                        width: 100% !important;
                      }
                      iframe {
                        width: calc(100vw - 40px);
                        height: 240px;
                        @media (min-width: 450px) {
                          width: calc(100vw - 40px);
                          height: 420px;
                        }
                        @media (min-width: 768px) {
                          width: calc(100vw - 100px);
                          height: 420px;
                        }
                        @media (min-width: 1024px) {
                          width: 590px;
                          height: 580px;
                        }
                        @media (min-width: 1440px) {
                          width: 927px;
                          height: 665px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .principal_footer {
          @include element-footer();
          margin: 36px 0;

          @media (min-width: 450px) and (max-width: 767px) {
            display: none;
          }

          @media (min-width: 768px) {
            margin: 36px 0;
          }
          @media (min-width: 1440px) {
            margin: 36px 0;
          }
        }
        .sub_part {

          @media (min-width: 768px) {
            display: flex;
            gap: 30px;

            >:nth-child(1){
              width: calc(33% - 20px);
            }
            >:nth-child(2){
              width: calc(25% - 20px);
            }
            >:nth-child(3){
              width: calc(42% - 20px);
            }
          }
          @media (min-width: 1440px) {
            display: flex;
            gap: 45px;

            >:nth-child(1){
              width: calc(33% - 30px);
            }
            >:nth-child(2){
              width: calc(25% - 30px);
            }
            >:nth-child(3){
              width: calc(42% - 30px);
            }
          }
          .resume {
            font-family: 'ai-bold';
            margin-bottom: 20px;
            font-size: 25px;
            line-height: 23px;
            @media (min-width: 1024px) {
              font-size: 32px;
              line-height: 30px;
            }
            @media (min-width: 1024px) {
              font-size: 38px;
              line-height: 33px;
            }
            @media (min-width: 1440px) {
              font-size: 48px;
              line-height: 43px;
            }
          }
          .subtitle-project {
            .sub {
              font-family: 'ai-semibo';
              font-size: 11px;
              @media (min-width: 768px) {
                font-size: 12px;
              }
              @media (min-width: 1024px) {
                font-size: 13px;
              }
              @media (min-width: 1440px) {
                font-size: 14px;
              }
            }
            .main-title {
              font-family: ai-boit;
              font-size: 14px;
              margin-bottom: 4px;
              @media (min-width: 768px) {
                font-size: 17px;
              }
              @media (min-width: 1024px) {
                font-size: 19px;
              }
              @media (min-width: 1440px) {
                font-size: 21px;
              }
            }
            .sub-text {
              font-family: ai-re;
              font-size: 10px;
              color: rgba(0, 0, 0, 0.5);

              margin-bottom: 20px;
              @media (min-width: 768px) {
                font-size: 13px;
              }
              @media (min-width: 1024px) {
                font-size: 14px;
                width: 80%;
              }
              @media (min-width: 1440px) {
                font-size: 16px;
                width: 80%;
              }
            }
            .sub-description {
              font-family: ai-semibo;
              font-size: 11.5px;
              @media (min-width: 768px) {
                font-size: 13px;
              }
              @media (min-width: 1024px) {
                font-size: 15px;
                width: 70%;
              }
              @media (min-width: 1440px) {
                font-size: 17px;
                width: 70%;
              }
            }
          }
        }
        .principal_button-container {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .principal_button {
            margin-top: 51.5px;
            @include btn-basic();
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
