@import 'variables.scss';
@import 'btn.mixin.scss';
@import 'element-footer.mixin.scss';

:host {
  .principal_button {
    @include btn-basic();
  }

  .principal_footer {
    @include element-footer();
  }

  display: block;
  padding: 51.5px 0px;
  width: 100%;
  @media (min-width: 768px) {
    padding: 90px 0 100px 0px;
    width: 100%;
    max-width: 1440px;
  }
  @media (min-width: 1024px) {
    padding: 90px 0 100px 0px;
    width: 100%;
    max-width: 1440px;
  }
  @media (min-width: 1440px) {
    padding: 90px 0 100px 0px;
    width: 100%;
    max-width: 1440px;
  }
  .main_projects-title {
    font-family: 'ai-bold';
    font-size: 54.5px;
    padding: 0 20px;
    margin-bottom: 51.5px;
    @media (min-width: 768px) {
      padding: 0 50px;
      font-size: 85px;
      margin-bottom: 100px;
    }
    @media (min-width: 1024px) {
      padding: 0 50px;
      font-size: 95px;
      margin-bottom: 100px;
    }
    @media (min-width: 1440px) {
      padding: 0 75px;
      font-size: 105px;
      margin-bottom: 100px;
    }
  }

  .main_projects-list_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 1024px) and (max-width: 1440px) {
      padding: 0 50px;
    }
    .main_projects-list {
      width: 100%;
      display:flex;
      flex-direction: column;
      align-items: center;
      gap: 51.5px;
      @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 85px 20px;
      }
      @media (min-width: 1024px) {
        margin: auto;
        width: calc(100%);
        justify-content: start;
      }
      @media (min-width: 1440px) {
        justify-content: start;
        width: 1292px;
        margin: auto;
      }
      .main_projects-item {
        &:hover {
          .image {
            filter: brightness(0.9)
          }
          .title, .subtitle {
            text-decoration: solid underline;
          }
        }
        width: 272px;
        display:flex;
        flex-direction: column;
        &:nth-child(2){
          position: relative;
          .logo_projects {
            display: none;
            @media (min-width: 768px) {
              display: flex;
            }
            @media (min-width: 1024px) {
              display: flex;
            }
            @media (min-width: 1440px) {
              display: flex;
            }
            z-index: 3;
            position: absolute;
            top: -70px;
            right: 30px;
            width: 148px;
            height: 148px;
            img {
              width: inherit;
              height: inherit;
            }
          }
        }
        @media (min-width: 768px) {
          width: 42.5%;
        }
        @media (min-width: 1024px) {
          width: 31.5%;
        }
        @media (min-width: 1440px) {
          width: 415px;
        }
        .image {
          height: 336px;
          width: inherit;
          background-color: $la261_skygray;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          @media (min-width: 768px) {
            width: 100%;
            height: 517px;
          }
          @media (min-width: 1024px) {
            width: 100%;
            height: 517px;
          }
          @media (min-width: 1440px) {
            height: 517px;
          }
          img {
            height: inherit;
            width: inherit;
          }
        }
        .title {
          margin-top: 20px;
          font-family: 'ai-boit';
          font-size: 20px;
          @media (min-width: 768px) {
            font-size: 28px;
          }
          @media (min-width: 1024px) {
            font-size: 28px;
          }
          @media (min-width: 1440px) {
            font-size: 28px;
          }
        }
        .subtitle {
          margin-top: 10px;
          font-family: 'ai-semibo';
          font-size: 16.5px;
          background-color: $la261_yellow;
          width:fit-content;
          @media (min-width: 768px) {
            font-size: 23px;
          }
          @media (min-width: 1024px) {
            font-size: 23px;
          }
          @media (min-width: 1440px) {
            font-size: 23px;
          }
        }
        .description {
          width: 75%;
          margin-top: 10px;
          font-family: 'ai-re';
          font-size: 11.5px;
          text-align: start;
          max-height: 77px;
          white-space: normal;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;
          overflow-wrap: break-word;
          @media (min-width: 768px) {
            font-size: 16px;
          }
          @media (min-width: 1024px) {
            font-size: 16px;
          }
          @media (min-width: 1440px) {
            font-size: 16px;
          }
        }
      }
    }
  }


  .button_container {
    width: 100%;
      display:flex;
      justify-content: center;
    .principal_button, .no-button {
      margin: 51.5px 0 51.5px 0;
      @media (min-width: 768px) {
        margin: 85px 0 100px 0;
      }
      @media (min-width: 1024px) {
        margin: 85px 0 100px 0;
      }
      @media (min-width: 1440px) {
        margin: 85px 0 100px 0;
      }
    }
  }
  .principal_footer {
    margin: 0 20px 0px 20px;
    @media (min-width: 768px) {
      margin: 0 50px 0px 50px;
    }
    @media (min-width: 1024px) {
      margin: 0 50px 0px 50px;
    }
    @media (min-width: 1440px) {
      margin: 0 75px 0px 75px;
    }
  }
}
