<div class="main">
  <div class="main_container">
    <div class="navbar">
      <img src="assets/images/LogoB@4x.png" alt="logo" class="logo_navbar">

      <div class="bar">
        <div class="bar_container">
          <div>INICIO</div>
          <div>SERVICIOS</div>
          <div>PROYECTOS</div>
          <div>NOSOTROS</div>
          <div>CONTACTO</div>
        </div>
      </div>

      <div class="menu">
        <img src="assets/images/Hamburguesa12@4x.png" alt="">
        <div class="text_menu">
          MENU
        </div>
      </div>
    </div>

    <div class="principal">
      <div class="principal_container">
        <div class="title">
          ¿Buscas crear <br> una experiencia <br> memorable?
        </div>

        <div class="principal_body">
          <img src="assets/images/Logo_Principal@4x.png" alt="" class="logo_circle">

          <div class="subtext">
            <span>Somos La261, Agencia de Marketing <br>
              de Servicios Especializados,</span> expertos en
              transformar objetivos en experiencias únicas
              a través de eventos diseñados con creatividad
              y precisión. Convertimos ideas en proyectos
              coherentes y estratégicos que reflejan
              la identidad del cliente y generan un impacto
              tangible en su éxito.
          </div>
        </div>
      </div>



      <div class="principal_footer">
        <div>
          PROCESO CREATIVO LA261
        </div>
        <img src="assets/images/Slash@2x.png" alt="" >
      </div>
    </div>

    <div class="creative_process">
      <div class="all_ideas">
        Todas tus ideas pueden volverse grandes proyectos.
      </div>
      <div class="title">
        ¿Cuál es nuestro <br> proceso creativo?
      </div>

      <div class="creative_process-body">
        <div class="scroll_section">
          <div class="scroll_body">
            <div class="scroll_item">
              <div class="image">
              </div>
              <div class="text">
                <div class="text_arrow">
                  <div class="text_arrow-title">
                    Escuchar, <br> Observar, <br> Entender
                  </div>
                  <div class="text_arrow-description">
                    Conocemos las necesidades, inquietudes y objetivos del cliente mediante una conversación empática y abierta para el intercambio libre de ideas.
                  </div>
                </div>
              </div>
            </div>
            <div class="scroll_item">
              <div class="image">
              </div>
              <div class="text">
                <div class="arrow">
                  <img src="assets/images/Flecha_ProcesoCreativo@4x.png" alt="arrow">
                </div>
                <div class="text_arrow">
                  <div class="text_arrow-title">
                    Aterrizar <br> las ideas <br> clave
                  </div>
                  <div class="text_arrow-description">
                    Transformamos esas ideas en una propuesta creativa coherente, alineando el proyecto con la identidad del cliente y sus objetivos.
                  </div>
                </div>
              </div>
            </div>
            <div class="scroll_item">
              <div class="image">
              </div>
              <div class="text">
                <div class="arrow">
                  <img src="assets/images/Flecha_ProcesoCreativo@4x.png" alt="arrow">
                </div>
                <div class="text_arrow">
                  <div class="text_arrow-title">
                    Estructurar <br> la propuesta <br> de valor
                  </div>
                  <div class="text_arrow-description">
                    Aplicamos todo nuestro expertise para planificar, estructurar y organizar la estrategia ganadora.
                  </div>
                </div>
              </div>
            </div>
            <div class="scroll_item">
              <div class="image">
              </div>
              <div class="text">
                <div class="arrow">
                  <img src="assets/images/Flecha_ProcesoCreativo@4x.png" alt="arrow">
                </div>
                <div class="text_arrow">
                  <div class="text_arrow-title">
                    Ejecutar una <br> experiencia <br> única
                  </div>
                  <div class="text_arrow-description">
                    Llevamos a cabo la estrategia, convirtiéndola en una experiencia única, sólida y creativamente efectiva.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="principal_button">
        NUESTROS SERVICIOS
      </button>
    </div>

    <div class="main_projects">
      <div class="main_projects-title">
        Proyectos
      </div>
      <div class="main_projects-list">
        <div class="main_projects-item">
          <div class="image">
          </div>
          <div class="title">Proper</div>
          <div class="subtitle">
            Charla Nutrición Deportiva
          </div>
          <div class="description">
            Charla especializada en la alimentación en el sector deportivo para los equipos de fútbol pertenecientes a la empresa. Charla de alimentación en el fútbol.
          </div>
        </div>

        <div class="main_projects-item">
          <div class="image">
          </div>
          <div class="title">Proper</div>
          <div class="subtitle">
            Charla Nutrición Deportiva
          </div>
          <div class="description">
            Charla especializada en la alimentación en el sector deportivo para los equipos de fútbol pertenecientes a la empresa. Charla de alimentación en el fútbol.
          </div>
        </div>

        <div class="main_projects-item only-desktop">
          <div class="image">
          </div>
          <div class="title">Proper</div>
          <div class="subtitle">
            Charla Nutrición Deportiva
          </div>
          <div class="description">
            Charla especializada en la alimentación en el sector deportivo para los equipos de fútbol pertenecientes a la empresa. Charla de alimentación en el fútbol.
          </div>
        </div>

        <div class="main_projects-item only-desktop">
          <div class="image">
          </div>
          <div class="title">Proper</div>
          <div class="subtitle">
            Charla Nutrición Deportiva
          </div>
          <div class="description">
            Charla especializada en la alimentación en el sector deportivo para los equipos de fútbol pertenecientes a la empresa. Charla de alimentación en el fútbol.
          </div>
        </div>

        <div class="main_projects-item only-desktop">
          <div class="image">
          </div>
          <div class="title">Proper</div>
          <div class="subtitle">
            Charla Nutrición Deportiva
          </div>
          <div class="description">
            Charla especializada en la alimentación en el sector deportivo para los equipos de fútbol pertenecientes a la empresa. Charla de alimentación en el fútbol.
          </div>
        </div>

        <div class="main_projects-item only-desktop">
          <div class="image">
          </div>
          <div class="title">Proper</div>
          <div class="subtitle">
            Charla Nutrición Deportiva
          </div>
          <div class="description">
            Charla especializada en la alimentación en el sector deportivo para los equipos de fútbol pertenecientes a la empresa. Charla de alimentación en el fútbol.
          </div>
        </div>
      </div>

      <div class="button_container">
        <button class="principal_button">
          MÁS PROYECTOS
        </button>
      </div>

      <div class="principal_footer">
        <div>
          CLIENTES
        </div>
        <img src="assets/images/Slash@2x.png" alt="" >
      </div>
    </div>

    <div class="our_clients">
      <div class="title">
        Nuestros <br> clientes
      </div>

      <div class="clients_list">
        <div class="client_item">
          <div></div>
        </div>
        <div class="client_item">
          <div></div>
        </div>
        <div class="client_item">
          <div></div>
        </div>
        <div class="client_item">
          <div></div>
        </div>
        <div class="client_item">
          <div></div>
        </div>
        <div class="client_item">
          <div></div>
        </div>
      </div>
    </div>

    <div class="work_together">
      <div class="work_together-body">
        <img src="assets/images/LogoB@4x.png" alt="logo" class="logo_footer">
        <div class="social_media">
          <div class="list_titles">
            <div>Inicio</div>
            <div>Servicios</div>
            <div>Proyectos</div>
            <div>Nosotros</div>
            <div>Contacto</div>
          </div>
          <div class="social_media_logos">
            <img src="assets/images/Boton Instagram@2x.png" alt="">
            <img src="assets/images/Boton Linkedin@2x.png" alt="">
            <img src="assets/images/Boton Facebook@2x.png" alt="">
          </div>
        </div>
        <div class="work_together-slogan">
          <div class="work_together-title">
            Trabajemos juntos <br>
            ¡Envíanos un correo y <br>
            agendemos una reu!
          </div>
          <div class="work_together-email">
            comunicaciones&#64;la261.com
          </div>
        </div>
      </div>
      <div class="work_together-footer">
        La261. Todos los derechos reservados 2024
      </div>
    </div>

  </div>
</div>
