@import '../styles/variables.scss';

.only-tablet {
  display: none !important;
  @media (min-width: 1024px) {
    display: block !important
  }
}

.only-desktop {
  display: none !important;
  @media (min-width: 1440px) {
    display: block !important
  }
}

.main {
  width: 100%;
  display:flex;
  justify-content: center;
  .main_container {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}

.navbar {
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 2;
  display: flex;
  justify-content: center;
  .navbar-container {
    width: 100%;
    padding: 25px 20px 10px 20px;
    @media (min-width: 1024px) {
      padding: 25px 75px 10px 75px;
      max-width: 1440px;
    }
    @media (min-width: 1440px) {
      padding: 25px 75px 10px 75px;
      max-width: 1440px;
    }
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;

    .logo_navbar {
      width: 89px;

      @media (min-width: 1024px) {
        width: 104px;
      }
      @media (min-width: 1440px) {
        width: 104px;
      }
    }

    .bar {
      display:none ;
      @media (min-width: 1024px) {
        display: flex;
        justify-content: center;
        width: calc(100% - 120px);
        .bar_container {
          display:flex;
          gap: 65px;
          font-size: 10.5px;
          font-family: 'ai-semibo';
          > div {
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
      @media (min-width: 1440px) {
        display: flex;
        justify-content: center;
        width: calc(100% - 120px);
        .bar_container {
          display:flex;
          gap: 65px;
          font-size: 13.5px;
          font-family: 'ai-semibo';
          > div {
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }

    .menu {
      @media (min-width: 1024px) {
        display: none;
      }
      @media (min-width: 1440px) {
        display: none;
      }
      display:flex;
      align-items: center;
      flex-direction: column;
      gap: 8px;
      img {
        width: 32px;
      }
      .text_menu {
        font-size: 10.5px;
        font-family: 'ai-li';
      }
    }
  }
}

.principal_button {
  width: 154px;
  font-size: 8.5px;
  font-family: 'ai-semibo';
  height: 35px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid black;

  @media (min-width: 768px) {
    font-size: 12px;
    width: 220px;
  }
  @media (min-width: 1024px) {
    font-size: 12px;
    width: 220px;
  }
  @media (min-width: 1440px) {
    font-size: 12px;
    width: 220px;
  }
  &:hover {
    background-color: white;
    cursor: pointer;
  }
}

.principal_footer {
  display:flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid black;
  height: 25px;

  font-size: 8px;
  font-family: 'ai-li';
  @media (min-width: 768px) {
    font-size: 12px;
  }
  @media (min-width: 1024px) {
    font-size: 12px;
  }
  @media (min-width: 1440px) {
    font-size: 13px;
  }
  img {
    width: 4px;
    @media (min-width: 768px) {
      width: 6px;
    }
    @media (min-width: 1024px) {
      width: 6px;
    }
    @media (min-width: 1440px) {
      width: 7px;
    }
  }
}

.principal {
  padding: 0px 20px 50px 20px;
  @media (min-width: 425px) {
    padding: 0px 50px 50px 50px;
    max-width: 1440px;
    width: 100%;
  }
  @media (min-width: 768px) {
    padding: 0px 50px 50px 50px;
    max-width: 1440px;
    width: 100%;
  }
  @media (min-width: 1024px) {
    padding: 0px 50px 50px 50px;
    max-width: 1440px;
    width: 100%;
  }
  @media (min-width: 1440px) {
    padding: 0px 75px 75px 75px;
    max-width: 1440px;
    width: 100%;
  }

  .principal_container {
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      height: 620px;
    }
    @media (min-width: 1024px) {
      display: flex;
      justify-content: center;
      height: 720px;
    }
    @media (min-width: 1440px) {
      height: 920px;
    }
    .title {
      @media (min-width: 768px) {
        display: flex;
        justify-content: end;
        width: 50%;
      }
      @media (min-width: 1024px) {
        display: flex;
        justify-content: end;
        width: 50%;
      }
      @media (min-width: 1440px) {
        justify-content: start;
      }
      .title_container {
        margin-top: 30px;
        font-size: 38.5px;
        line-height: 32.5px;
        font-family: 'ai-bold';
        @media (min-width: 768px) {
          width: fit-content;
          margin-top: 112px;
          font-size: 40px;
          line-height: 38px;
        }
        @media (min-width: 1024px) {
          width: fit-content;
          margin-top: 112px;
          font-size: 60px;
          line-height: 58px;
        }
        @media (min-width: 1440px) {
          width: max-content;
          font-size: 82px;
          line-height: 68px;
        }
      }
    }

    .principal_body {
      width: 100%;
      @media (min-width: 768px) {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-bottom: 100px;
      }
      @media (min-width: 1024px) {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-bottom: 100px;
      }
      @media (min-width: 1440px) {
      }
      .logo_circle {
        margin: 32px 0 21px 0;
        width: 168px;
        @media (min-width: 768px) {
          width: 165px;
        }
        @media (min-width: 1024px) {
          width: 215px;
        }
        @media (min-width: 1440px) {
          width: 315px;
        }
      }

      .subtext {
        font-size: 14px;
        letter-spacing: 0.5px;
        font-family: 'ai-li';
        @media (min-width: 425px) {
          font-size: 15px;
          margin-top: 10px;
          max-width: 360px;
        }
        @media (min-width: 768px) {
          font-size: 15px;
          margin-top: 10px;
          padding-left: 25px;
          max-width: 360px;
        }
        @media (min-width: 1024px) {
          font-size: 20px;
          margin-top: 10px;
          padding-left: 35px;
          max-width: 430px;
        }
        @media (min-width: 1440px) {
          font-size: 26px;
          padding-left: 45px;
          max-width: 560px;
        }
        span {
          font-family: 'ai-bold';
        }
      }
    }
  }

  .principal_footer {
    margin-top: 57px;
    width: 100%;

    @media (min-width: 768px) {
      margin-top: 0px;
    }
    @media (min-width: 1024px) {
      margin-top: 0px;
    }
    @media (min-width: 1440px) {
      margin-top: 0px;
    }
  }
}

.creative_process {
  background-color: $la261_yellow;
  display: flex;
  justify-content: center;
  width: 100%;
  @media (min-width: 768px) {
  }
  @media (min-width: 1024px) {
  }
  @media (min-width: 1440px) {
  }
  .creative_process_container {
    padding: 54px 0px 51.5px 0px;
    position: relative;
    width: 100%;
    @media (min-width: 768px) {
      max-width: 1440px;
      padding: 80px 0px 51.5px 0px;
    }
    @media (min-width: 1024px) {
      max-width: 1440px;
      padding: 90px 0px 51.5px 0px;
    }
    @media (min-width: 1440px) {
      max-width: 1440px;
      padding: 100px 0px 51.5px 0px;
    }

    .principal_button {
      margin: 30px 0 0 20px;
      @media (min-width: 768px) {
        margin: 80px 0 59px 75px;
      }
      @media (min-width: 1024px) {
        margin: 80px 0 59px 75px;
      }
      @media (min-width: 1440px) {
        margin: 80px 0 59px 75px;
      }
    }

    .all_ideas {
      position: absolute;
      bottom: -25px;
      right: 30px;
      width: 128px;
      height: 128px;
      font-size: 9.5px;
      font-family: 'ai-bold';
      border: 1px solid black;

      display:flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      border-radius: 50%;
      padding: 20px;
      @media (min-width: 768px) {
        bottom: -40px;
        right: 200px;
        font-size: 14px;
        line-height: 14px;
        width: 190px;
        height: 190px;
        padding: 35px;
      }
      @media (min-width: 1024px) {
        bottom: -30px;
        right: 200px;
        font-size: 16px;
        line-height: 17px;
        width: 220px;
        height: 220px;
        padding: 40px;
      }
      @media (min-width: 1440px) {
        bottom: -30px;
        right: 200px;
        font-size: 16px;
        line-height: 17px;
        width: 220px;
        height: 220px;
        padding: 40px;
      }
    }

    .title {
      padding: 0 20px;
      font-size: 32.5px;
      line-height: 30px;
      font-family: 'ai-bold';

      @media (min-width: 768px) {
        padding: 0 50px 20px 50px;
        font-size: 40px;
        line-height: 40px;
      }
      @media (min-width: 1024px) {
        padding: 0 50px 20px 50px;
        font-size: 45px;
        line-height: 40px;
      }
      @media (min-width: 1440px) {
        padding: 0 75px 20px 75px;
        font-size: 50px;
        line-height: 40px;
      }
    }

    .creative_process-body {

      display:flex;
      justify-content: center;
      .scroll_section {
        margin-top: 30px;
        display:flex;
        overflow-x: auto;
        width: 100%;

        @media (min-width: 768px) {
          overflow-x: auto;
        }
        @media (min-width: 1024px) {
          overflow-x: auto;
        }
        @media (min-width: 1440px) {
          overflow-x: auto;
          justify-content: end;
          margin-right: 130px;
        }

        &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
          padding: 20px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
          border: 1px solid black;
          border-radius: 20px;
          margin: 20px;
          @media (min-width: 768px) {
            margin: 50px;
          }
          @media (min-width: 1024px) {
            margin: 50px;
          }
          @media (min-width: 1440px) {
            margin: 50px;
          }
        }
        &::-webkit-scrollbar-thumb {
          background: black;
          border-radius: 20px;
        }

        .scroll_body {
          display:flex;

          &:first-child {
            padding-left: 20px;
            @media (min-width: 768px) {
              padding-left: 50px;
            }
            @media (min-width: 1024px) {
              padding-left: 50px;
            }
            @media (min-width: 1440px) {
              padding-left: 50px;
            }
          }

          &:last-child {
            padding-right: 20px;
            @media (min-width: 768px) {
              padding-right: 50px;
            }
            @media (min-width: 1024px) {
              padding-right: 50px;
            }
            @media (min-width: 1440px) {
              padding-right: 50px;
            }
          }

          .scroll_item {
            &:nth-child(1){
              .image {
                margin-left: 0px !important;
              }
            }
            .image {
              height: 250px;
              width: 168px;
              background-color: $la261_skygray;
              margin-left: 42px;
              @media (min-width: 768px) {
                height: 317px;
                width: 216px;
                margin-left: 55px;
              }
              @media (min-width: 1024px) {
                height: 317px;
                width: 216px;
                margin-left: 55px;
              }
              @media (min-width: 1440px) {
                height: 317px;
                width: 216px;
                margin-left: 55px;
              }
            }
            .text {
              display:flex;
              .arrow {
                width: 42px;
                margin: 50px 0 40px 0;
                display:flex;
                justify-content: center;
                @media (min-width: 768px) {
                  width: 55px;
                }
                @media (min-width: 1024px) {
                  width: 55px;
                }
                @media (min-width: 1440px) {
                  width: 55px;
                }
                img {
                  height: 24.5px;
                  @media (min-width: 768px) {
                    height: 34px;
                  }
                  @media (min-width: 1024px) {
                    height: 34px;
                  }
                  @media (min-width: 1440px) {
                    height: 34px;
                  }
                }
              }
              .text_arrow {
                width: 168px;
                @media (min-width: 768px) {
                  width: 216px;
                }
                @media (min-width: 1024px) {
                  width: 216px;
                }
                @media (min-width: 1440px) {
                  width: 216px;
                }
                .text_arrow-title {
                  margin-top: 15px;
                  font-size: 22.5px;
                  font-family: 'ai-bold';
                  @media (min-width: 768px) {
                    font-size: 30px;
                    margin-top: 27px;
                    line-height: 28px;
                  }
                  @media (min-width: 1024px) {
                    font-size: 30px;
                    margin-top: 27px;
                    line-height: 28px;
                  }
                  @media (min-width: 1440px) {
                    font-size: 30px;
                    margin-top: 27px;
                    line-height: 28px;
                  }
                }
                .text_arrow-description {
                  margin-top: 15px;
                  margin-bottom: 40px;
                  font-size: 12px;
                  font-family: 'ai-li';
                  @media (min-width: 768px) {
                    font-family: 'ai-re';
                    font-size: 16px;
                    margin-top: 20px;
                  }
                  @media (min-width: 1024px) {
                    font-family: 'ai-re';
                    font-size: 16px;
                    margin-top: 20px;
                  }
                  @media (min-width: 1440px) {
                    font-family: 'ai-re';
                    font-size: 16px;
                    margin-top: 20px;
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}

.main_projects {
  padding: 51.5px 0px;
  width: 100%;
  @media (min-width: 768px) {
    padding: 90px 0 100px 0px;
    width: 100%;
    max-width: 1440px;
  }
  @media (min-width: 1024px) {
    padding: 90px 0 100px 0px;
    width: 100%;
    max-width: 1440px;
  }
  @media (min-width: 1440px) {
    padding: 90px 0 100px 0px;
    width: 100%;
    max-width: 1440px;
  }
  .main_projects-title {
    font-family: 'ai-bold';
    font-size: 54.5px;
    padding: 0 20px;
    margin-bottom: 51.5px;
    @media (min-width: 768px) {
      padding: 0 50px;
      font-size: 85px;
      margin-bottom: 100px;
    }
    @media (min-width: 1024px) {
      padding: 0 50px;
      font-size: 95px;
      margin-bottom: 100px;
    }
    @media (min-width: 1440px) {
      padding: 0 75px;
      font-size: 105px;
      margin-bottom: 100px;
    }
  }

  .main_projects-list {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 51.5px;
    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 85px 20px;
    }
    @media (min-width: 1024px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 85px 20px;
    }
    @media (min-width: 1440px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 85px 20px;
    }
    .main_projects-item {
      width: 272px;
      display:flex;
      flex-direction: column;
      &:nth-child(2){
        position: relative;
        .logo_projects {
          display: none;
          @media (min-width: 768px) {
            display: flex;
          }
          @media (min-width: 1024px) {
            display: flex;
          }
          @media (min-width: 1440px) {
            display: flex;
          }
          z-index: 100;
          position: absolute;
          top: -70px;
          right: 30px;
          width: 148px;
          height: 148px;
          img {
            width: inherit;
            height: inherit;
          }
        }
      }
      @media (min-width: 768px) {
        width: 41%;
      }
      @media (min-width: 1024px) {
        width: 29.5%;
      }
      @media (min-width: 1440px) {
        width: 415px;
      }
      .image {
        height: 336px;
        width: inherit;
        background-color: $la261_skygray;
        @media (min-width: 768px) {
          width: 100%;
          height: 517px;
        }
        @media (min-width: 1024px) {
          width: 100%;
          height: 517px;
        }
        @media (min-width: 1440px) {
          height: 517px;
        }
        &:hover {
          filter: brightness(0.9)
        }
        img {
          height: inherit;
          width: inherit;
        }
      }
      .title {
        margin-top: 20px;
        font-family: 'ai-boit';
        font-size: 20px;
        @media (min-width: 768px) {
          font-size: 28px;
        }
        @media (min-width: 1024px) {
          font-size: 28px;
        }
        @media (min-width: 1440px) {
          font-size: 28px;
        }
      }
      .subtitle {
        margin-top: 10px;
        font-family: 'ai-semibo';
        font-size: 16.5px;
        background-color: $la261_yellow;
        width:fit-content;
        @media (min-width: 768px) {
          font-size: 23px;
        }
        @media (min-width: 1024px) {
          font-size: 23px;
        }
        @media (min-width: 1440px) {
          font-size: 23px;
        }
      }
      .description {
        width: 75%;
        margin-top: 10px;
        font-family: 'ai-re';
        font-size: 11.5px;
        text-align: start;
        @media (min-width: 768px) {
          font-size: 16px;
        }
        @media (min-width: 1024px) {
          font-size: 16px;
        }
        @media (min-width: 1440px) {
          font-size: 16px;
        }
      }
    }
  }

  .button_container {
    width: 100%;
     display:flex;
     justify-content: center;
    .principal_button {
      margin: 51.5px 0 51.5px 0;
      @media (min-width: 768px) {
        margin: 85px 0 100px 0;
      }
      @media (min-width: 1024px) {
        margin: 85px 0 100px 0;
      }
      @media (min-width: 1440px) {
        margin: 85px 0 100px 0;
      }
    }
  }
  .principal_footer {
    margin: 0 20px 0px 20px;
    @media (min-width: 768px) {
      margin: 0 50px 0px 50px;
    }
    @media (min-width: 1024px) {
      margin: 0 50px 0px 50px;
    }
    @media (min-width: 1440px) {
      margin: 0 75px 0px 75px;
    }
  }
}

.our_clients {
  @media (min-width: 425px) {
    max-width: 1440px;
    width: 100%;
  }
  @media (min-width: 768px) {
    max-width: 1440px;
    width: 100%;
  }
  @media (min-width: 1024px) {
    max-width: 1440px;
    width: 100%;
  }
  @media (min-width: 1440px) {
    max-width: 1440px;
    width: 100%;
  }
  .title {
    font-size: 32.5px;
    line-height: 35px;
    font-family: 'ai-bold';
    padding: 0 20px;
    margin-bottom: 62px;
    @media (min-width: 768px) {
      font-size: 45px;
      line-height: 40px;
      padding: 0 75px;
    }
    @media (min-width: 1024px) {
      font-size: 47px;
      line-height: 40px;
      padding: 0 75px;
    }
    @media (min-width: 1440px) {
      font-size: 50px;
      line-height: 40px;
      padding: 0 75px;
    }
  }

  .clients_list {
    width: 100%;
    display:flex;
    justify-content: center;
    .client_list-container {
      padding: 0 20px;
      display:flex;
      flex-wrap: wrap;
      @media (min-width: 425px) {
        padding: 0 20px;
        justify-content: center;
        width: 400px;
      }
      @media (min-width: 768px) {
        padding: 0 75px;
        justify-content: center;
        width: 800px;
      }
      @media (min-width: 1024px) {
        padding: 0 75px;
        justify-content: center;
        width: 1000px;
      }
      @media (min-width: 1440px) {
        width: fit-content;
        padding: 0 75px;
        justify-content: end;
      }
      .client_item {
        width: 109.5px;
        height: 51.5px;
        display:flex;
        justify-content: center;
        align-items: center;
        @media (min-width: 768px) {
          width: 200px;
          height: 120px;
        }
        @media (min-width: 1024px) {
          width: 250px;
          height: 140px;
        }
        @media (min-width: 1440px) {
          width: 362px;
          height: 140px;
        }
        > div {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
        &:nth-child(1){
          > div {
            width: 100px;
            height: 60px;
            @media (min-width: 768px) {
              width: 180px;
              height: 60px;
            }
            @media (min-width: 1024px) {
              width: 280px;
              height: 60px;
            }
            @media (min-width: 1440px) {
              width: 280px;
              height: 60px;
            }
            background-image: url('./../../public/assets/images/Logos_Clientes/Logo\ Marathon@4x.png');
          }
        }
        &:nth-child(2){
          > div {
            width: 60px;
            height: 60px;
            @media (min-width: 768px) {
              width: 120px;
              height: 120px;
            }
            @media (min-width: 1024px) {
              width: 159.5px;
              height: 120px;
            }
            @media (min-width: 1440px) {
              width: 159.5px;
              height: 120px;
            }
            background-image: url('./../../public/assets/images/Logos_Clientes/Logo\ Rems@4x.png');
          }
        }
        &:nth-child(3){
          > div {
            width: 90px;
            height: 60px;
            @media (min-width: 768px) {
              width: 170px;
              height: 60px;
            }
            @media (min-width: 1024px) {
              width: 200px;
              height: 60px;
            }
            @media (min-width: 1440px) {
              width: 200px;
              height: 60px;
            }
            background-image: url('./../../public/assets/images/Logos_Clientes/Logo\ Centrum\ PUCP@4x.png');
          }
        }
        &:nth-child(4){
          > div {
            width: 80px;
            height: 60px;
            @media (min-width: 768px) {
              width: 129px;
              height: 120px;
            }
            @media (min-width: 1024px) {
              width: 189.5px;
              height: 120px;
            }
            @media (min-width: 1440px) {
              width: 189.5px;
              height: 120px;
            }
            background-image: url('./../../public/assets/images/Logos_Clientes/Logo\ Netafilm@4x.png');
          }
        }
        &:nth-child(5){
          > div {
            width: 80px;
            height: 60px;
            @media (min-width: 768px) {
              width: 130.5px;
              height: 100px;
            }
            @media (min-width: 1024px) {
              width: 200.5px;
              height: 100px;
            }
            @media (min-width: 1440px) {
              width: 200.5px;
              height: 100px;
            }
            background-image: url('./../../public/assets/images/Logos_Clientes/Logo\ Negocios\ Inmobiliarios@4x.png');
          }
        }
        &:nth-child(6){
          > div {
            width: 90px;
            height: 60px;
            @media (min-width: 768px) {
              width: 160px;
              height: 47px;
            }
            @media (min-width: 1024px) {
              width: 209.5px;
              height: 47px;
            }
            @media (min-width: 1440px) {
              width: 209.5px;
              height: 47px;
            }
            background-image: url('./../../public/assets/images/Logos_Clientes/Logo\ IM\ Hernderson@4x.png');
          }
        }
      }
      margin-bottom: 42px;
      @media (min-width: 768px) {
        margin-bottom: 85px;
      }
      @media (min-width: 1024px) {
        margin-bottom: 85px;
      }
      @media (min-width: 1440px) {
        margin-bottom: 85px;
      }
    }
  }

}

.work_together {
  background-color: $la261_yellow;
  width: 100%;
  display: flex;
  justify-content: center;
  .work_together-container {
    width: 100%;
    padding: 42px 20px 30px 20px;
    display:flex;
    flex-direction: column;
    align-items: start;
    @media (min-width: 768px) {
      padding: 65px 50px 65px 50px;
      max-width: 1440px;
    }
    @media (min-width: 1024px) {
      padding: 75px 50px 75px 50px;
      max-width: 1440px;
    }
    @media (min-width: 1440px) {
      padding: 85px 75px 85px 75px;
      max-width: 1440px;
    }
    .work_together-body {
      @media (min-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      @media (min-width: 1024px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      @media (min-width: 1440px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .logo_footer {
        width: 95px;
        margin-bottom: 34.5px;
        @media (min-width: 768px) {
          width: 122px;
          height:fit-content
        }
        @media (min-width: 1024px) {
          width: 142px;
          height:fit-content
        }
        @media (min-width: 1440px) {
          width: 162px;
          height:fit-content
        }
      }
      .social_media {
        .list_titles {
          display:flex;
          flex-direction: column;
          align-items: start;
          font-family: 'ai-re';
          font-size: 11px;
          gap: 8px;
          margin-bottom: 18.5px;
          &:hover {
            cursor: pointer;
          }
          @media (min-width: 768px) {
            font-size: 15.5px;
            height: 80px;
            width: 196px;
            align-content: space-between;
            flex-wrap: wrap;
          }
          @media (min-width: 1024px) {
            font-size: 18.5px;
            height: 100px;
            width: 286px;
            align-content: space-between;
            flex-wrap: wrap;
          }
          @media (min-width: 1440px) {
            font-size: 18.5px;
            height: 100px;
            width: 306px;
            align-content: space-between;
            flex-wrap: wrap;
          }
        }

        .social_media_logos {
          display:flex;
          gap: 8px;
          margin-bottom: 34.5px;
          @media (min-width: 768px) {
            gap: 12px;
          }
          @media (min-width: 1024px) {
            gap: 12px;
          }
          @media (min-width: 1440px) {
            gap: 12px;
          }
          img {
            height: 17.5px;
            @media (min-width: 768px) {
              height: 30px;
            }
            @media (min-width: 1024px) {
              height: 30px;
            }
            @media (min-width: 1440px) {
              height: 30px;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .work_together-slogan {
        .work_together-title {
          font-family: 'ai-bold';
          font-size: 16.5px;
          @media (min-width: 768px) {
            font-size: 17px;
            line-height: 17.5px;
            text-align: end;
          }
          @media (min-width: 1024px) {
            font-size: 25px;
            line-height: 25.5px;
            text-align: end;
          }
          @media (min-width: 1440px) {
            font-size: 28px;
            line-height: 29.5px;
            text-align: end;
          }
        }
        .work_together-email {
          margin-top: 5px;
          font-family: 'ai-semibo';
          font-size: 13.5px;
          text-decoration: underline;
          @media (min-width: 768px) {
            font-size: 15px;
          }
          @media (min-width: 1024px) {
            font-size: 18px;
          }
          @media (min-width: 1440px) {
            font-size: 23px;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .work_together-footer {
      margin-top: 40px;
      font-size: 7.5px;
      font-family: 'ai-re';
      @media (min-width: 768px) {
        margin-top: 80px;
        font-size: 12px;
      }
      @media (min-width: 1024px) {
        margin-top: 90px;
        font-size: 13px;
      }
      @media (min-width: 1440px) {
        margin-top: 100px;
        font-size: 15px;
      }
    }
  }
}
