<div class="navbar">
  <img src="assets/images/LogoB@4x.png" alt="logo" class="logo_navbar">

  <div class="menu">
    <img src="assets/images/Hamburguesa12@4x.png" alt="">
    <div class="text_menu">
      MENU
    </div>
  </div>
</div>

<div class="principal">
  <div class="title">
    ¿Buscas crear <br> una experiencia memorable?
  </div>

  <img src="assets/images/Logo_Principal@4x.png" alt="" class="logo_circle">

  <div class="subtext">
    <span>Somos La261, Agencia de Marketing <br>
      de Servicios Especializados,</span> expertos en
      transformar objetivos en experiencias únicas
      a través de eventos diseñados con creatividad
      y precisión. Convertimos ideas en proyectos
      coherentes y estratégicos que reflejan
      la identidad del cliente y generan un impacto
      tangible en su éxito.
  </div>



  <div class="principal_footer">
    <div>
      PROCESO CREATIVO LA261
    </div>
    <img src="assets/images/Slash@2x.png" alt="" >
  </div>
</div>

<div class="creative_process">
  <div class="all_ideas">
    Todas tus ideas pueden volverse grandes proyectos.
  </div>
  <div class="title">
    ¿Cuál es nuestro <br> proceso creativo?
  </div>

  <div class="scroll_section">
    <div class="scroll_body">
      <div class="scroll_item">
        <div class="image">
        </div>
        <div class="text">
          <div class="text_arrow">
            <div class="text_arrow-title">
              Escuchar, <br> Observar, <br> Entender
            </div>
            <div class="text_arrow-description">
              Conocemos las necesidades, inquietudes y objetivos del cliente mediante una conversación empática y abierta para el intercambio libre de ideas.
            </div>
          </div>
        </div>
      </div>
      <div class="scroll_item">
        <div class="image">
        </div>
        <div class="text">
          <div class="arrow">
            <img src="assets/images/Flecha_ProcesoCreativo@4x.png" alt="arrow">
          </div>
          <div class="text_arrow">
            <div class="text_arrow-title">
              Escuchar, <br> Observar, <br> Entender
            </div>
            <div class="text_arrow-description">
              Conocemos las necesidades, inquietudes y objetivos del cliente mediante una conversación empática y abierta para el intercambio libre de ideas.
            </div>
          </div>
        </div>
      </div>
      <div class="scroll_item">
        <div class="image">
        </div>
        <div class="text">
          <div class="arrow">
            <img src="assets/images/Flecha_ProcesoCreativo@4x.png" alt="arrow">
          </div>
          <div class="text_arrow">
            <div class="text_arrow-title">
              Escuchar, <br> Observar, <br> Entender
            </div>
            <div class="text_arrow-description">
              Conocemos las necesidades, inquietudes y objetivos del cliente mediante una conversación empática y abierta para el intercambio libre de ideas.
            </div>
          </div>
        </div>
      </div>
      <div class="scroll_item">
        <div class="image">
        </div>
        <div class="text">
          <div class="arrow">
            <img src="assets/images/Flecha_ProcesoCreativo@4x.png" alt="arrow">
          </div>
          <div class="text_arrow">
            <div class="text_arrow-title">
              Escuchar, <br> Observar, <br> Entender
            </div>
            <div class="text_arrow-description">
              Conocemos las necesidades, inquietudes y objetivos del cliente mediante una conversación empática y abierta para el intercambio libre de ideas.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="our_services">
    NUESTROS SERVICIOS
  </button>
</div>

<div class="main_projects">

</div>
