<div class="navbar">
  <img src="assets/images/LogoB@4x.png" alt="logo" class="logo_navbar">

  <div class="menu">
    MENU
  </div>
</div>

<div class="principal">
  <div class="title">
    ¿Buscas crear una experiencia memorable?
  </div>

  <img src="assets/images/Logo_Principal@4x.png" alt="" class="logo_circle">

  <div class="subtext">
    <span>Somos La261, Agencia de Marketing <br>
      de Servicios Especializados,</span> expertos en <br>
      transformar objetivos en experiencias únicas <br>
      a través de eventos diseñados con creatividad <br>
      y precisión. Convertimos ideas en proyectos <br>
      coherentes y estratégicos que reflejan <br>
      la identidad del cliente y generan un impacto <br>
      tangible en su éxito.
  </div>



  <div class="principal_footer">
    <div>
      PROCESO CREATIVO LA261
    </div>
    <img src="assets/images/Slash@2x.png" alt="" >
  </div>
</div>

<div class="creative_process">
  <div class="title">
    ¿Cuál es nuestro <br> proceso creativo?
  </div>

  <div class="scroll_section">
    <div class="scroll_body">
      <div>
        <div class="image">
        </div>
        <div class="text">
          text
        </div>
      </div>
      <div>
        <div class="image">
        </div>
        <div class="text">
          texto
        </div>
      </div>
      <div>
        <div class="image">
        </div>
        <div class="text">
          text
        </div>
      </div>
      <div>
        <div class="image">
        </div>
        <div class="text">
          text
        </div>
      </div>
    </div>
  </div>
</div>
