<div class="main">
  <div class="main_container">
    <app-navbar></app-navbar>
    <div class="our-services-container">
      <div class="our-services">
        <div class="us-text">
          <div class="us-text-org">
            <div class="us-text-container">
              <div class="principal-subtitle">CONTACTO</div>
              <div class="principal-title">
                Transformamos <br />
                tus objetivos <br />
                en experiencias <br />
                únicas
              </div>
              <div class="principal-description">
                Completa el formulario y cuéntanos todos <br />
                <span>los detalles de tu idea o proyecto</span>.
              </div>
            </div>
            <form
              class="form-contact form-mobile"
              [formGroup]="contactForm"
              (ngSubmit)="submitContactForm()"
            >
              <div class="input-item">
                <div class="title-input">
                  Nombre y Apellido @if(isFieldRequired('names')) {
                  <span>*</span>
                  }
                </div>
                <div class="input-body">
                  <div class="text-input">
                    <input
                      type="text"
                      formControlName="names"
                      [ngStyle]="{
                        'border-bottom': getConditionTemplate(
                          'input-border',
                          'names'
                        )
                      }"
                      placeholder="Nombre y Apellido"
                    />
                  </div>
                </div>
              </div>
              <div class="input-item">
                <div class="title-input">
                  Email @if(isFieldRequired('email')) {
                  <span>*</span>
                  }
                </div>
                <div class="input-body">
                  <div class="text-input">
                    <input
                      type="email"
                      formControlName="email"
                      [ngStyle]="{
                        'border-bottom': getConditionTemplate(
                          'input-border',
                          'email'
                        )
                      }"
                      placeholder="Email"
                    />
                  </div>
                </div>
              </div>
              <div class="input-item">
                <div class="title-input">
                  Empresa @if(isFieldRequired('company')) {
                  <span>*</span>
                  }
                </div>
                <div class="input-body">
                  <div class="text-input">
                    <input
                      type="text"
                      formControlName="company"
                      [ngStyle]="{
                        'border-bottom': getConditionTemplate(
                          'input-border',
                          'company'
                        )
                      }"
                      placeholder="Empresa"
                    />
                  </div>
                </div>
              </div>
              <div class="input-item">
                <div class="title-input">
                  Mensaje @if(isFieldRequired('message')) {
                  <span>*</span>
                  }
                </div>
                <div class="input-body">
                  <div class="text-input">
                    <textarea
                      formControlName="message"
                      [ngStyle]="{
                        border: getConditionTemplate('input-border', 'message')
                      }"
                      placeholder="Mensaje"
                      rows="5"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="submit-button">
                <button type="submit" [class.is-sent]="isSent">
                  {{ isSent ? 'ENVIADO' : 'ENVIAR' }}
                </button>
              </div>
            </form>
            <div class="links">
              <a href="mailto:comunicaciones@la261.com?Subject=¡Trabajemos juntos!&body=Buen día,%0D%0DMe gustaría agendar una reunión." class="email">
                <img src="assets/images/mail.svg" alt="" />
                comunicaciones&#64;la261.com
              </a>
              <div class="whatsapp" (click)="sendWhatsapp()">
                <img src="assets/images/whatsapp.svg" alt="" />
                993-092-037
              </div>
              <div class="social-media">
                <a href="https://www.instagram.com/la261agencia" target="_blank">
                  <img src="/assets/images/Boton Instagram@2x.png" alt="" />
                </a>
                <a href="https://www.linkedin.com/company/la261/" target="_blank">
                  <img src="/assets/images/Boton Linkedin@2x.png" alt="" />
                </a>
                <a href="https://www.facebook.com/profile.php?id=61567563443124" target="_blank">
                  <img src="/assets/images/Boton Facebook@2x.png" alt="" />
                </a>
              </div>
            </div>

          </div>
          <form
              class="form-contact form-desktop"
              [formGroup]="contactForm"
              (ngSubmit)="submitContactForm()"
            >
              <div class="input-item">
                <div class="title-input">
                  Nombre y Apellido @if(isFieldRequired('names')) {
                  <span>*</span>
                  }
                </div>
                <div class="input-body">
                  <div class="text-input">
                    <input
                      type="text"
                      formControlName="names"
                      [ngStyle]="{
                        'border-bottom': getConditionTemplate(
                          'input-border',
                          'names'
                        )
                      }"
                      placeholder="Nombre y Apellido"
                    />
                  </div>
                </div>
              </div>
              <div class="input-item">
                <div class="title-input">
                  Email @if(isFieldRequired('email')) {
                  <span>*</span>
                  }
                </div>
                <div class="input-body">
                  <div class="text-input">
                    <input
                      type="email"
                      formControlName="email"
                      [ngStyle]="{
                        'border-bottom': getConditionTemplate(
                          'input-border',
                          'email'
                        )
                      }"
                      placeholder="Email"
                    />
                  </div>
                </div>
              </div>
              <div class="input-item">
                <div class="title-input">
                  Empresa @if(isFieldRequired('company')) {
                  <span>*</span>
                  }
                </div>
                <div class="input-body">
                  <div class="text-input">
                    <input
                      type="text"
                      formControlName="company"
                      [ngStyle]="{
                        'border-bottom': getConditionTemplate(
                          'input-border',
                          'company'
                        )
                      }"
                      placeholder="Empresa"
                    />
                  </div>
                </div>
              </div>
              <div class="input-item">
                <div class="title-input">
                  Mensaje @if(isFieldRequired('message')) {
                  <span>*</span>
                  }
                </div>
                <div class="input-body">
                  <div class="text-input">
                    <textarea
                      formControlName="message"
                      [ngStyle]="{
                        border: getConditionTemplate('input-border', 'message')
                      }"
                      placeholder="Mensaje"
                      rows="4"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="submit-button">
                <button type="submit" [class.is-sent]="isSent">
                  {{ isSent ? 'ENVIADO' : 'ENVIAR' }}
                </button>
              </div>
            </form>
        </div>
        <div class="us-text">
          <div class="principal_footer">
            <div>RESEÑA DEL CLIENTE</div>
            <img src="assets/images/Slash@2x.png" alt="" />
          </div>
        </div>
        <div class="foot-group">
          <div class="first-part">
            <div class="else-choose">
              <div class="why-choose-container">
                <div class="last-titles">
                  <div class="last-title">
                    ¿Qué dicen <br class="br-desktop" /> los clientes <br class="br-mobile"/>
                    de <br class="br-desktop" /> nuestro trabajo?
                  </div>
                </div>
              </div>
            </div>
            <div class="recomendations">
              <div class="recomendations-slider-container" #recoSlider>
                <div class="recomendations-slider-sub">
                  <div class="recomendations-slider">
                    @for (project of projects; track $index) {
                      @if (project.client_review !== '') {
                    <div class="recomendation">
                      <div class="subtitle-project">
                        <div class="sub">
                          {{ project.client_presenter_role }}
                        </div>
                        <div class="main-title">
                          {{ project.client_presenter_name }}
                        </div>
                        <div class="sub-description">
                          "{{ project.client_review }}"
                        </div>
                      </div>
                    </div>
                    } }
                    <div class="recomendation">
                      <div class="subtitle-project">
                        <div class="sub">
                        </div>
                        <div class="main-title">
                        </div>
                        <div class="sub-description">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="opacity-zone">
                </div>
                <div class="arrows">
                  <div class="arrow-left" (click)="previous()">
                    <img src="assets/images/Flecha_ProcesoCreativo@4x.png" alt="" />
                  </div>
                  <div class="arrow-right" (click)="next()">
                    <img src="assets/images/Flecha_ProcesoCreativo@4x.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="why-choose">
            <div class="why-choose-container">
              <div class="last-titles">
                <div class="buttons">
                  <div class="principal_button" routerLink="/services">
                    NUESTROS SERVICIOS
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-main-footer></app-main-footer>
  </div>
</div>
