<div class="main">
  <div class="main_container">
    <app-navbar></app-navbar>
    <div class="our-services-container">
      <div class="our-services">
        <div class="us-text">
          <div class="us-text-container">
            <div class="principal-title">
              Nuestros <br> Servicios
            </div>
            <div class="principal-description">
              Somos La261, Agencia de Marketing de Servicios Especializados, expertos en transformar <span>objetivos en experiencias únicas</span> a través de eventos diseñados con creatividad y precisión a través de eventos diseñados con creatividad y precisión, a través de eventos diseñados con creatividad y precisión
            </div>
          </div>
          <div class="principal_footer">
            <div>
              NUESTROS SERVICIOS
            </div>
            <img src="assets/images/Slash@2x.png" alt="" >
          </div>
          <div class="us-text">
            <div class="services-container">
              <div class="service">
                <div class="service-image" style="background-image: url('assets/images/serv/services_01.jpg');">
                </div>
                <div class="service-text">
                  <div class="service-star">*</div>
                  <div class="service-titles">
                    <div class="service-title">
                      Torneos y Eventos Deportivos
                    </div>
                    <div class="service-description">
                      Nuestra experiencia en el mundo deportivo nos permite organizar los mejores torneos deportivos, actividades recreativas, competiciones internas, clases, entrenamientos personalizados y todo lo que tu organización necesita.
                    </div>
                  </div>
                </div>
              </div>
              <div class="service">
                <div class="service-image" style="background-image: url('assets/images/serv/services_02.jpg');">
                </div>
                <div class="service-text">
                  <div class="service-star">*</div>
                  <div class="service-titles">
                    <div class="service-title">
                      Activaciones de Marca
                    </div>
                    <div class="service-description">
                      Potenciamos el valor de tu organización, producto o servicio, con eventos de lanzamiento y campañas de marketing experiencial.
                    </div>
                  </div>
                </div>
              </div>
              <div class="service">
                <div class="service-image" style="background-image: url('assets/images/serv/services_03.jpg');">
                </div>
                <div class="service-text">
                  <div class="service-star">*</div>
                  <div class="service-titles">
                    <div class="service-title">
                      Eventos de Networking
                    </div>
                    <div class="service-description">
                      Creamos conferencias, charlas, seminarios, ceremonias de premiación y reconocimiento, con un alto valor de recordación y conexión con el usuario.
                    </div>
                  </div>
                </div>
              </div>
              <div class="service">
                <div class="service-image" style="background-image: url('assets/images/serv/services_04.jpg');">
                </div>
                <div class="service-text">
                  <div class="service-star">*</div>
                  <div class="service-titles">
                    <div class="service-title">
                      Experiencias Personalizadas
                    </div>
                    <div class="service-description">
                      Brindamos un servicio personalizado de diseño y consultoría para la creación de eventos memorables, a la medida de las necesidades y objetivos del cliente.
                    </div>
                  </div>
                </div>
              </div>
              <div class="service">
                <div class="service-image" style="background-image: url('assets/images/serv/services_05.jpg');">
                </div>
                <div class="service-text">
                  <div class="service-star">*</div>
                  <div class="service-titles">
                    <div class="service-title">
                      Comunicación y Branding de Eventos
                    </div>
                    <div class="service-description">
                      Implementamos todo el plan de comunicación de tu evento. Desde el desarrollo estratégico hasta la creación de materiales promocionales y contenido digital.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="why-choose">
        <div class="why-choose-container">
          <div class="last-titles">
            <div class="buttons">
              <div class="principal_button">COTIZA TU PROYECTO</div>
              <div class="principal_button">QUIERO HABLAR CON UN ASESOR</div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  <app-main-footer></app-main-footer>
</div>
