<div class="main">
  <div class="main_container">
    <app-navbar></app-navbar>
    <div class="our-services-container">
      <div class="our-services">
        <div class="us-text">
          <div class="us-text-container">
            <div class="principal-title">
              Nuestros <br> Servicios
            </div>
            <div class="principal-description">
              Como Agencia de Marketing de Servicios Especializados, ofrecemos soluciones personalizadas que complementan la actividad principal de una organización, volviéndose esenciales para su operación diaria.
            </div>
          </div>
          <div class="principal_footer">
            <div>
              NUESTROS SERVICIOS
            </div>
            <img src="assets/images/Slash@2x.png" alt="" >
          </div>
          <div class="us-text">
            <div class="services-container">
              <div class="service">
                <div class="service-image" style="background-image: url('assets/images/serv/services_01.jpg');">
                </div>
                <div class="service-text">
                  <div class="service-star">*</div>
                  <div class="service-titles">
                    <div class="service-title">
                      Torneos y Eventos Deportivos
                    </div>
                    <div class="service-description">
                      Diseñamos encuentros deportivos que fomentan la integración entre colaboradores y clientes. Nuestra experiencia en el mundo deportivo nos permite organizar desde torneos y competencias internas, hasta clases y entrenamientos personalizados.
                    </div>
                  </div>
                </div>
              </div>
              <div class="service">
                <div class="service-image" style="background-image: url('assets/images/serv/services_02.jpg');">
                </div>
                <div class="service-text">
                  <div class="service-star">*</div>
                  <div class="service-titles">
                    <div class="service-title">
                      Activaciones de Marca
                    </div>
                    <div class="service-description">
                      Potenciamos el valor de tu marca, producto o servicio, con eventos de lanzamiento y campañas de marketing experiencial.
                    </div>
                  </div>
                </div>
              </div>
              <div class="service">
                <div class="service-image" style="background-image: url('assets/images/serv/services_03.jpg');">
                </div>
                <div class="service-text">
                  <div class="service-star">*</div>
                  <div class="service-titles">
                    <div class="service-title">
                      Eventos de Networking
                    </div>
                    <div class="service-description">
                      Organizamos conferencias, charlas, seminarios, premiaciones y reconocimientos que facilitan un entorno propicio para el intercambio de ideas y la conexión estratégica.
                    </div>
                  </div>
                </div>
              </div>
              <div class="service">
                <div class="service-image" style="background-image: url('assets/images/serv/services_04.jpg');">
                </div>
                <div class="service-text">
                  <div class="service-star">*</div>
                  <div class="service-titles">
                    <div class="service-title">
                      Experiencias Personalizadas
                    </div>
                    <div class="service-description">
                      Creamos eventos exclusivos adaptados a las necesidades específicas de tu organización, y ofrecemos consultoría para garantizar experiencias con un alto nivel de recordación.
                    </div>
                  </div>
                </div>
              </div>
              <div class="service">
                <div class="service-image" style="background-image: url('assets/images/serv/services_05.jpg');">
                </div>
                <div class="service-text">
                  <div class="service-star">*</div>
                  <div class="service-titles">
                    <div class="service-title">
                      Comunicación y Branding de Eventos
                    </div>
                    <div class="service-description">
                      Implementamos el plan de comunicación integral de tu evento, desde el desarrollo estratégico hasta la creación de materiales promocionales y contenido digital.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="why-choose">
        <div class="why-choose-container">
          <div class="last-titles">
            <div class="buttons">
              <a class="principal_button" routerLink="/contact">COTIZA TU PROYECTO</a>
              <a class="principal_button" (click)="sendWhatsapp()">QUIERO HABLAR CON UN ASESOR</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  <app-main-footer></app-main-footer>
</div>
