@import 'variables.scss';
@import 'btn.mixin.scss';
@import 'element-footer.mixin.scss';

:host {
  width: 100%;

  .creative_process {
    background-color: $la261_yellow;
    display: flex;
    justify-content: center;
    width: 100%;
    @media (min-width: 768px) {
    }
    @media (min-width: 1024px) {
    }
    @media (min-width: 1440px) {
    }
    .creative_process_container {
      padding: 54px 0px 51.5px 0px;
      position: relative;
      width: 100%;
      @media (min-width: 768px) {
        max-width: 1440px;
        padding: 80px 0px 51.5px 0px;
      }
      @media (min-width: 1024px) {
        max-width: 1440px;
        padding: 90px 0px 51.5px 0px;
      }
      @media (min-width: 1440px) {
        max-width: 1440px;
        padding: 100px 0px 51.5px 0px;
      }

      .principal_button {
        opacity: 0;
        margin: 51.5px 0 0 20px;
        @media (min-width: 768px) {
          margin: 80px 0 59px 50px;
        }
        @media (min-width: 1024px) {
          margin: 80px 0 59px 50px;
        }
        @media (min-width: 1440px) {
          margin: 80px 0 59px 75px;
        }
      }

      .all_ideas {
        position: absolute;
        bottom: -25px;
        right: 30px;
        width: 128px;
        height: 128px;
        font-size: 9.5px;
        font-family: 'ai-bold';
        border: 1px solid black;

        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        border-radius: 50%;
        padding: 20px;
        @media (min-width: 768px) {
          bottom: -40px;
          right: 200px;
          font-size: 14px;
          line-height: 14px;
          width: 190px;
          height: 190px;
          padding: 35px;
        }
        @media (min-width: 1024px) {
          bottom: -30px;
          right: 200px;
          font-size: 16px;
          line-height: 17px;
          width: 220px;
          height: 220px;
          padding: 40px;
        }
        @media (min-width: 1440px) {
          bottom: -30px;
          right: 200px;
          font-size: 16px;
          line-height: 17px;
          width: 220px;
          height: 220px;
          padding: 40px;
        }
      }

      .title {
        padding: 0 20px;
        font-size: 32.5px;
        line-height: 30px;
        font-family: 'ai-bold';

        @media (min-width: 425px) {
          padding: 0 50px 20px 50px;
        }
        @media (min-width: 768px) {
          padding: 0 50px 20px 50px;
          font-size: 40px;
          line-height: 40px;
        }
        @media (min-width: 1024px) {
          padding: 0 50px 20px 50px;
          font-size: 45px;
          line-height: 40px;
        }
        @media (min-width: 1440px) {
          padding: 0 75px 20px 75px;
          font-size: 50px;
          line-height: 40px;
        }
      }

      .creative_process-body {

        display:flex;
        justify-content: center;
        .scroll_section {
          margin-top: 30px;
          display:flex;
          overflow-x: auto;
          width: 100%;

          @media (min-width: 768px) {
            overflow-x: auto;
          }
          @media (min-width: 1024px) {
            overflow-x: auto;
          }
          @media (min-width: 1130px) and (max-width: 1440px) {
            justify-content: center;
          }
          @media (min-width: 1440px) {
            overflow-x: auto;
            justify-content: end;
            margin-right: 130px;
          }

          &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
            padding: 20px;
          }
          &::-webkit-scrollbar-track {
            background: transparent;
            border: 1px solid black;
            border-radius: 20px;
            margin: 20px;
            @media (min-width: 425px) {
              margin: 20px 50px;
            }
            @media (min-width: 768px) {
              margin: 50px;
            }
            @media (min-width: 1024px) {
              margin: 50px;
            }
            @media (min-width: 1440px) {
              margin: 50px;
            }
          }
          &::-webkit-scrollbar-thumb {
            background: black;
            border-radius: 20px;
          }

          .scroll_body {
            display:flex;

            &:first-child {
              padding-left: 20px;
              @media (min-width: 425px) {
                padding-left: 50px;
              }
              @media (min-width: 768px) {
                padding-left: 50px;
              }
              @media (min-width: 1024px) {
                padding-left: 50px;
              }
              @media (min-width: 1440px) {
                padding-left: 50px;
              }
            }

            &:last-child {
              padding-right: 20px;
              @media (min-width: 425px) {
                padding-right: 50px;
              }
              @media (min-width: 768px) {
                padding-right: 50px;
              }
              @media (min-width: 1024px) {
                padding-right: 50px;
              }
              @media (min-width: 1440px) {
                padding-right: 50px;
              }
            }

            .scroll_item {
              &:nth-child(1){
                .image {
                  margin-left: 0px !important;
                }
              }
              .image {
                height: 250px;
                width: 168px;
                background-color: $la261_skygray;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                margin-left: 42px;
                @media (min-width: 768px) {
                  height: 317px;
                  width: 216px;
                  margin-left: 55px;
                }
                @media (min-width: 1024px) {
                  height: 317px;
                  width: 216px;
                  margin-left: 55px;
                }
                @media (min-width: 1440px) {
                  height: 317px;
                  width: 216px;
                  margin-left: 55px;
                }
              }
              .text {
                display:flex;
                .arrow {
                  width: 42px;
                  margin: 50px 0 40px 0;
                  display:flex;
                  justify-content: center;
                  @media (min-width: 768px) {
                    width: 55px;
                  }
                  @media (min-width: 1024px) {
                    width: 55px;
                  }
                  @media (min-width: 1440px) {
                    width: 55px;
                  }
                  img {
                    height: 24.5px;
                    @media (min-width: 768px) {
                      height: 34px;
                    }
                    @media (min-width: 1024px) {
                      height: 34px;
                    }
                    @media (min-width: 1440px) {
                      height: 34px;
                    }
                  }
                }
                .text_arrow {
                  width: 168px;
                  @media (min-width: 768px) {
                    width: 216px;
                  }
                  @media (min-width: 1024px) {
                    width: 216px;
                  }
                  @media (min-width: 1440px) {
                    width: 216px;
                  }
                  .text_arrow-title {
                    margin-top: 15px;
                    font-size: 22.5px;
                    line-height: 21.5px;
                    font-family: 'ai-bold';
                    @media (min-width: 768px) {
                      font-size: 28px;
                      margin-top: 27px;
                      line-height: 26.5px;
                    }
                    @media (min-width: 1024px) {
                      font-size: 28px;
                      margin-top: 27px;
                      line-height: 26.5px;
                    }
                    @media (min-width: 1440px) {
                      font-size: 30px;
                      margin-top: 27px;
                      line-height: 28px;
                    }
                  }
                  .text_arrow-description {
                    margin-top: 15px;
                    margin-bottom: 51px;
                    font-size: 12px;
                    font-family: 'ai-li';
                    @media (min-width: 768px) {
                      font-family: 'ai-li';
                      font-size: 16px;
                      margin-top: 20px;
                      margin-bottom: 80px;
                    }
                    @media (min-width: 1024px) {
                      font-family: 'ai-li';
                      font-size: 16px;
                      margin-top: 20px;
                      margin-bottom: 80px;
                    }
                    @media (min-width: 1440px) {
                      font-family: 'ai-li';
                      font-size: 16px;
                      margin-top: 20px;
                      margin-bottom: 40px;
                    }
                  }
                }
              }
              &:nth-child(1){
                .image {
                  background-image: url('./../../../../public/assets/images/00_Imagenes_Proceso_Creativo/proceso_Creativo_01.jpg');
                }
              }
              &:nth-child(2){
                .image {
                  background-image: url('./../../../../public/assets/images/00_Imagenes_Proceso_Creativo/proceso_Creativo_02.jpg');
                }
              }
              &:nth-child(3){
                .image {
                  background-image: url('./../../../../public/assets/images/00_Imagenes_Proceso_Creativo/proceso_Creativo_03.jpg');
                }
              }
              &:nth-child(4){
                .image {
                  background-image: url('./../../../../public/assets/images/00_Imagenes_Proceso_Creativo/proceso_Creativo_04.jpg');
                }
              }
            }
          }

        }
      }
    }
  }
}
