@import "variables.scss";
@import "btn.mixin.scss";
@import "element-footer.mixin.scss";

:host {
  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    // NEW
    contain: paint;
    .main_container {
      width: 100%;
      height: 100vh;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      app-navbar {
        position: sticky;
        width: 100%;
        top: 0px;
        z-index: 10;
      }

      .welcome {
        width: 100%;
        .us-principal {
          background-color: $la261_yellow;
          margin: 20px 0 0px 0;
          min-height: 612px;
          display: flex;
          justify-content: center;
          align-items: center;
          @media (min-width: 768px) {
            margin: 40px 0 0px 0;
          }
          @media (min-width: 1024px) {
            margin: 40px 0 0px 0;
          }
          @media (min-width: 1440px) {
            margin: 40px 0 0px 0;
          }
          .us-text-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            font-size: 12.5px;
            @media (min-width: 425px) {
              font-size: 14px;
              gap: 12px;
            }
            @media (min-width: 768px) {
              font-size: 20px;
              gap: 15px;
            }
            @media (min-width: 1024px) {
              font-size: 23px;
              gap: 15px;
            }
            @media (min-width: 1440px) {
              font-size: 27px;
              gap: 20px;
            }
            .hi-image {
              width: 80%;
              max-width: 270px;
              @media (min-width: 425px) {
                max-width: 310px;
              }
              @media (min-width: 768px) {
                max-width: 440px;
              }
              @media (min-width: 1024px) {
                max-width: 500px;
              }
              @media (min-width: 1440px) {
                max-width: 600px;
              }
            }
            .first-para {
              text-align: center;
              font-family: "ai-li";
              span {
                font-family: "ai-bold";
                background-color: $la261_yellow;
              }
            }
            .second-para {
              text-align: center;
              font-family: "ai-li";
              span {
                font-family: "ai-boit";
              }
            }
          }
        }
      }

      .us {
        width: 100%;
        padding: 55px 20px 0px 20px;

        @media (min-width: 425px) {
          padding: 55px 32px 50px 32px;
          max-width: 1440px;
          width: 100%;
        }
        @media (min-width: 768px) {
          padding: 55px 50px 50px 50px;
          max-width: 1440px;
          width: 100%;
        }
        @media (min-width: 1024px) {
          padding: 55px 50px 50px 50px;
          max-width: 1440px;
          width: 100%;
        }
        @media (min-width: 1440px) {
          padding: 55px 75px 30px 75px;
          max-width: 1440px;
          width: 100%;
        }
        .principal_footer {
          @include element-footer();
        }
        .us-text {
          display: flex;
          flex-direction: column;
          margin-bottom: 83px;
          gap: 25px;
          width: 100%;

          @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 35px;
            margin-top: 50px;
            margin-bottom: 80px;
          }

          @media (min-width: 1024px) {
            display: flex;
            flex-direction: column;
            gap: 50px;
            margin-top: 80px;
            margin-bottom: 100px;
          }

          @media (min-width: 1440px) {
            display: flex;
            flex-direction: column;
            gap: 75px;
            margin-top: 100px;
            margin-bottom: 155px;
          }

          .main-title {
            font-family: "ai-bold";
            font-size: 30px;
            margin-bottom: 8px;
            margin-top: 20px;
            @media (min-width: 1024px) {
              font-size: 32px;
            }
            @media (min-width: 1440px) {
              font-size: 37px;
            }
          }
          .us-text-description {
            font-family: "ai-re";
            font-size: 13px;
            span {
              font-family: "ai-bold";
            }
            @media (min-width: 768px) {
              font-size: 14px;
              padding-left: 5%;
              padding-right: 5%;
              .no-bold-desktop {
                font-family: "ai-re";
              }
            }
            @media (min-width: 1024px) {
              font-size: 16px;
              padding-left: 5%;
              padding-right: 5%;
              .no-bold-desktop {
                font-family: "ai-re";
              }
            }
            @media (min-width: 1440px) {
              font-size: 17px;
              padding-left: 5%;
              padding-right: 5%;
              .no-bold-desktop {
                font-family: "ai-re";
              }
            }
          }
          .main-subtitle {
            margin-top: 20px;
            font-family: "ai-bold";
            font-size: 16px;
            margin-bottom: 8px;
            @media (min-width: 1024px) {
              font-size: 17px;
            }
            @media (min-width: 1440px) {
              font-size: 18px;
            }
          }
          .values-container {
            @media (min-width: 768px) {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            @media (min-width: 1024px) {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            @media (min-width: 1440px) {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .values {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 35px;
              margin-top: 20px;
              @media (min-width: 768px) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 35px 115px;
                width: calc(222px * 2 + 117px);
              }
              @media (min-width: 1024px) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 35px 115px;
                width: calc(290px * 2 + 115px);
              }
              @media (min-width: 1440px) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 35px 115px;
                width: calc(290px * 3 + 115px * 2);
              }
              .value-item {
                display: flex;
                flex-direction: column;
                width: 222px;
                @media (min-width: 1024px) {
                  width: 290px;
                }
                @media (min-width: 1440px) {
                  width: 290px;
                }
                .value-header {
                  font-family: "ai-bold";
                  border-bottom: 1px solid black;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  text-align: start;
                  height: 35px;
                  font-size: 13px;
                  @media (min-width: 1024px) {
                    font-size: 18px;
                  }
                  @media (min-width: 1440px) {
                    font-size: 18px;
                  }
                }
                .value-body {
                  height: 115px;
                  display: flex;
                  flex-direction: column;
                  .value-title {
                    font-family: "ai-bold";
                    font-size: 15px;
                    margin-top: 8px;
                    @media (min-width: 1024px) {
                      font-size: 16px;
                    }
                    @media (min-width: 1440px) {
                      font-size: 16px;
                    }
                  }
                  .value-description {
                    margin-top: 8px;
                    font-family: "ai-re";
                    font-size: 13px;
                    @media (min-width: 1024px) {
                      font-size: 14px;
                    }
                    @media (min-width: 1440px) {
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
          .teams {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 45px;
            width: 100%;

            @media (min-width: 1024px) {
              flex-direction: row;
              justify-content: center;
              gap: 30px;
            }
            @media (min-width: 1440px) {
              flex-direction: row;
              justify-content: center;
              gap: 76px;
            }
            .team {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 19px;
              width: 100%;
              max-width: 528px;

              @media (min-width: 1440px) {
                gap: 28px;
              }

              .team-img {
                width: 100%;
                max-width: 200px;
                height: 335px;
                background-color: black;
                background-size: cover;
                background-position: center center;

                @media (min-width: 768px) {
                  width: 230px;
                  max-width: none;
                  height: 287.5px;
                }

                @media (min-width: 1024px) {
                  width: 230px;
                  height: 287.5px;
                }

                @media (min-width: 1440px) {
                  width: 268px;
                  height: 335px;
                }
              }

              .team-text {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 100%;
                max-width: 200px;
                height: -webkit-fill-available;
                padding-bottom: 13.5px;

                @media (min-width: 1024px) {
                  width: 200px;
                }

                @media (min-width: 1440px) {
                  width: 234px;
                }

                .team-title {
                  font-family: "ai-boit";
                  font-size: 16px;
                  @media (min-width: 1440px) {
                    font-size: 20px;
                  }
                }
                .team-subtitle {
                  font-size: 14px;
                  font-family: "ai-semibo";
                  margin-bottom: 15px;
                  margin-top: 10px;

                  @media (min-width: 768px) {
                    margin-bottom: 20px;
                    margin-top: 10px;
                  }

                  @media (min-width: 1024px) {
                    font-size: 14.5px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                  }

                  @media (min-width: 1440px) {
                    font-size: 15px;
                    margin-bottom: 24.5px;
                    margin-top: 13.5px;
                  }

                  span {
                    background-color: $la261_yellow;
                  }
                }
                .team-description {
                  font-size: 12.5px;
                  font-family: "ai-re";
                  @media (min-width: 1440px) {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
      .why-choose {
        margin-top: 20px;
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        .why-choose-container {
          width: 100%;
          padding: 37px 20px 43px 20px;

          @media (min-width: 425px) {
            padding: 37px 32px 50px 32px;
            max-width: 1440px;
            width: 100%;
          }
          @media (min-width: 768px) {
            padding: 37px 50px 50px 50px;
            max-width: 1440px;
            width: 100%;
          }
          @media (min-width: 1024px) {
            padding: 92px 50px 50px 50px;
            max-width: 1440px;
            width: 100%;
          }
          @media (min-width: 1440px) {
            padding: 92px 75px 75px 75px;
            max-width: 1440px;
            width: 100%;
          }
          .main-title {
            font-family: "ai-bold";
            font-size: 25px;
            margin-bottom: 8px;
            @media (min-width: 1440px) {
              font-size: 40px;
              display: flex;
            }
          }
          .choose {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            gap: 23px;
            @media (min-width: 550px) {
              justify-content: center;
              flex-direction: row;
            }
            @media (min-width: 768px) {
              justify-content: center;
              flex-direction: row;
            }
            @media (min-width: 1024px) {
              flex-direction: row;
              justify-content: center;
            }
            @media (min-width: 1440px) {
              flex-direction: row;
              justify-content: center;
            }
            .choose-items-container {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 23px;
              @media (min-width: 1024px) {
                flex-direction: row;
                justify-content: center;
              }
              @media (min-width: 1440px) {
                flex-direction: row;
                justify-content: center;
              }
            }
            .choose-item {
              width: 207px;
              height: 207px;
              border-radius: 50%;
              perspective: 1000px;
              &.is-flipped .flip-box-inner {
                transform: rotateX(180deg);
              }
              @media (min-width: 1440px) {
                width: 242px;
                height: 242px;
              }
              .flip-box-inner {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;
              }
              .flip-box-front,
              .flip-box-back {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
              }
              .flip-box-front {
                background-color: $la261_lightgray;
                border-radius: 50%;
                color: black;
                display: flex;
                gap: 10px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .choose-title {
                  font-size: 18px;
                  font-family: "ai-bold";
                  @media (min-width: 1440px) {
                    font-size: 21px;
                  }
                }
                .choose-see-more {
                  font-family: "ai-re";
                  text-decoration: solid underline;
                  font-size: 12.5px;
                  @media (min-width: 1440px) {
                    font-size: 14px;
                  }
                  &:hover {
                    &:hover {
                      cursor: pointer;
                    }
                  }
                }
              }

              .flip-box-back {
                background-color: $la261_yellow;
                border-radius: 50%;
                transform: rotateX(180deg);
                font-family: "ai-re";
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12.5px;
                @media (min-width: 1440px) {
                  font-size: 14px;
                }
                span {
                  width: 70%;
                }
              }
            }
          }
          .last-titles {
            margin-top: 50px;
            width: 100%;
            display: flex;
            gap: 20px;
            flex-direction: column;
            align-items: center;

            .last-title {
              text-align: center;
              font-family: "ai-bold";
              br {
                @media (min-width: 768px) {
                  display: none;
                }
                @media (min-width: 1024px) {
                  display: none;
                }
                @media (min-width: 1440px) {
                  display: none;
                }
              }
            }
            .buttons {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 10px;
              @media (min-width: 550px) {
                flex-direction: row;
                gap: 15px;
              }
              @media (min-width: 768px) {
                flex-direction: row;
                gap: 30px;
              }
              @media (min-width: 1024px) {
                flex-direction: row;
                gap: 30px;
              }
              @media (min-width: 1440px) {
                flex-direction: row;
                gap: 43px;
              }
              .principal_button {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 178px;
                @include btn-basic();
                @media (min-width: 1024px) {
                  width: fit-content;
                }
                @media (min-width: 1440px) {
                  width: fit-content;
                }
              }
            }
          }
        }
      }
    }
  }
}
