<div class="main">
  <div class="main_container" #scrollable>
    <app-navbar></app-navbar>
    <section class="welcome">
      <div class="us-principal">
        <div class="us-text-container">
          <img
            src="assets/images/us/Imagen Texto Nosotros 02.png"
            alt=""
            class="hi-image"
          />
          <div class="first-para">
            <span>Creadores de experiencias únicas e irrepetibles,</span> <br />
            de conversaciones empáticas que potencian, <br />
            de proyectos plasmados de objetivos.
          </div>
          <div class="second-para">
            <span>¿Y para quiénes?</span> <br />
            Para organizaciones que buscan potenciarse desde adentro <br />
            y revolucionar el mundo alla afuera.
          </div>
        </div>
      </div>
    </section>
    <section class="us">
      <div class="principal_footer" id="EQUIPO">
        <div>EQUIPO</div>
        <img src="assets/images/Slash@2x.png" alt="" />
      </div>
      <div class="us-text">
        <div class="main-title">Equipo La261</div>
        <div class="teams">
          @for (team of teams; track $index) {
            <div class="team">
              <div class="team-img" [ngStyle]="{'background-image': 'url(' + team.imgUrl + ')'}"></div>
              <div class="team-text">
                <div class="team-title"> {{ team.name }} </div>
                <div class="team-subtitle">
                  <span [innerHTML]="team.role">
                  </span>
                </div>
                <div class="team-description"> {{ team.description }} </div>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="principal_footer" id="QUE-NOS-HACE-DIFERENTES">
        <div>¿POR QUÉ ELEGIRNOS?</div>
        <img src="assets/images/Slash@2x.png" alt="" />
      </div>
    </section>
    <div class="why-choose">
      <div class="why-choose-container">
        <div class="main-title">¿Qué nos hace diferentes?</div>
        <div class="choose">
          <div class="choose-items-container">
            @for (item of whyChooseItems; track $index) {
            <div
              class="choose-item"
              [class.is-flipped]="whyChooseFlipped[item.id]"
            >
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <div class="choose-title" [innerHTML]="item.title"></div>
                  <div
                    class="choose-see-more"
                    (click)="processChooseItem($event)"
                  >
                    Ver más
                  </div>
                </div>
                <div class="flip-box-back">
                  <span>
                    {{ item.description }}
                  </span>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
        <div class="last-titles">
          <div class="last-title">
            Transformemos tus objetivos <br />
            en experiencias únicas
          </div>
          <div class="buttons">
            <div class="principal_button">COTIZA TU PROYECTO</div>
            <div class="principal_button">QUIERO HABLAR CON UN ASESOR</div>
          </div>
        </div>
      </div>
    </div>
    <app-main-footer></app-main-footer>
  </div>
</div>
