/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'aileron';
  src:
  url('./../public/assets/fonts/Aileron-Bold.otf') format('otf'),
  url('./../public/assets/fonts/Aileron-BoldItalic.otf') format('otf'),
  url('./../public/assets/fonts/Aileron-Regular.otf') format('otf'),
  url('./../public/assets/fonts/Aileron-SemiBold.otf') format('otf'),
}

body {
  margin: 0px;
}

* {
  box-sizing: border-box;
  font-family: 'aileron';
}
