
/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'ai-bold';
  src:
  url('./../public/assets/fonts/Aileron-Bold.woff') format('woff'),
}

@font-face {
  font-family: 'ai-li';
  src:
  url('./../public/assets/fonts/Aileron-Light.woff') format('woff'),
}

@font-face {
  font-family: 'ai-boit';
  src:
  url('./../public/assets/fonts/Aileron-BoldItalic.woff') format('woff'),
}

@font-face {
  font-family: 'ai-re';
  src:
  url('./../public/assets/fonts/Aileron-Regular.woff') format('woff'),
}

@font-face {
  font-family: 'ai-semibo';
  src:
  url('./../public/assets/fonts/Aileron-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'my-bo';
  src:
  url('./../public/assets/fonts/MyriadPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'my-re';
  src:
  url('./../public/assets/fonts/MyriadPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'my-semibo';
  src:
  url('./../public/assets/fonts/MyriadPro-Semibold.woff') format('woff');
}


body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}
