<div class="main">
  <div class="main_container">
    <app-navbar></app-navbar>
    <div class="projects">
      <div class="main_part">
        <div class="project_text-body">
          <div class="title_project">
            <div class="sub">
              Proyecto
            </div>
            <div class="main-title">
              {{ project?.project_title }}
            </div>
          </div>
          <div class="title_project">
            <div class="sub">
              Cliente
            </div>
            <div class="main-italic">
              {{ project?.client_name }}
            </div>
          </div>
          <div class="description_project">
            <div class="focus-title">
              Detalle de proyecto
            </div>
            <div class="description-text">
              <div>
                {{ project?.project_description }}
              </div>
              <div>
                @for (item of project?.project_details; track $index; let idx = $index) {
                  _{{ item }} @if(idx !== project?.project_details!.length - 1) { <br> }
                }
              </div>
            </div>
          </div>
        </div>
        <div class="slider-container">
          <div class="click-zone_previous" (click)="previous()"></div>
          <div class="click-zone_next" (click)="next()"></div>
          <div class="project_photos" #slider>
            <div class="photos_scroll" >
              @for (photo of project?.images_urls; track $index) {
                <div class="photo-item">
                  <img [src]="photo" alt="">
                </div>
              }
              @for (video of project?.videos_urls; track $index) {
                <div class="photo-item">
                  <youtube-player
                  [videoId]="video"
                  >
                  </youtube-player>
                </div>
              }
            </div>
          </div>
          <div class="arrows">
            <div class="arrow-left" (click)="previous()">
              <img src="assets/images/Boton_B@4x.png" alt="">
            </div>
            <div class="arrow-right" (click)="next()">
              <img src="assets/images/Boton_A@4x.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="principal_footer">
        <div>
          RESEÑA DEL CLIENTE
        </div>
        <img src="assets/images/Slash@2x.png" alt="" >
      </div>
      <div class="sub_part">
        <div class="resume">
          ¿Cómo le fue <br>
          al cliente <br>
          trabajando <br>
          con nosotros?
        </div>
        <div class="subtitle-project">
          <div class="sub">
            Cliente
          </div>
          <div class="main-title">
            {{ project?.client_name }}
          </div>
          <div class="sub-text">
            {{ project?.client_description }}
          </div>
        </div>
        <div class="subtitle-project">
          <div class="sub">
            {{ project?.client_presenter_role }}
          </div>
          <div class="main-title">
            {{ project?.client_presenter_name }}
          </div>
          @if (project?.client_review !== '') {
            <div class="sub-description">
              "{{ project?.client_review }}"
            </div>
          } @else {
            <div class="sub-description"></div>
          }
        </div>
      </div>
      <div class="principal_button-container">
        <button class="principal_button" routerLink="/projects">
          MÁS PROYECTOS
        </button>
      </div>
    </div>
    <app-main-footer></app-main-footer>
  </div>
</div>
