<div class="main">
  <div class="main_container">

    <app-navbar></app-navbar>
    <div class="principal">
      <div class="principal_container">
        <div class="title">
          <div class="title_container">
            ¿Buscas crear <br> una experiencia <br> memorable?
          </div>
        </div>

        <div class="principal_body">
          <img src="/assets/images/Logo_Principal@4x.png" alt="" class="logo_circle">

          <div class="subtext">
            <span>Somos La261, Agencia de Marketing <br>
              de Servicios Especializados,</span> expertos en
              transformar objetivos en experiencias únicas
              a través de eventos diseñados con creatividad
              y precisión. Convertimos ideas en proyectos
              coherentes y estratégicos que reflejan
              la identidad del cliente y generan un impacto
              tangible en su éxito.
          </div>
        </div>
      </div>



      <div class="principal_footer">
        <div>
          PROCESO CREATIVO LA261
        </div>
        <img src="/assets/images/Slash@2x.png" alt="" >
      </div>
    </div>

    <app-creative-process-2></app-creative-process-2>

    <app-main-projects page="main-landing"></app-main-projects>

    <div class="our_clients">
      <div class="title">
        Nuestros <br> clientes
      </div>

      <div class="clients_list">
        <div class="client_list-container">
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
        </div>
      </div>
    </div>

    <app-main-footer></app-main-footer>

  </div>
</div>
