<div class="main">
  <div class="main_container">

    <app-navbar></app-navbar>
    <div class="principal">
      <div class="principal_container">
        <div class="title">
          <div class="title_container">
            ¿Buscas crear <br> una experiencia <br> memorable?
          </div>
        </div>

        <div class="principal_body">
          <img src="assets/images/Logo_Principal@4x.png" alt="" class="logo_circle">

          <div class="subtext">
            <span>Somos La261, Agencia de Marketing <br>
              de Servicios Especializados,</span> expertos en
              transformar objetivos en experiencias únicas
              a través de eventos diseñados con creatividad
              y precisión. Convertimos ideas en proyectos
              coherentes y estratégicos que reflejan
              la identidad del cliente y generan un impacto
              tangible en su éxito.
          </div>
        </div>
      </div>



      <div class="principal_footer">
        <div>
          PROCESO CREATIVO LA261
        </div>
        <img src="assets/images/Slash@2x.png" alt="" >
      </div>
    </div>

    <div class="creative_process">
      <div class="creative_process_container">
        <div class="all_ideas">
          Todas tus ideas pueden volverse grandes proyectos.
        </div>
        <div class="title">
          ¿Cuál es nuestro <br> proceso creativo?
        </div>

        <div class="creative_process-body">
          <div class="scroll_section">
            <div class="scroll_body">
              <div class="scroll_item">
                <div class="image">
                </div>
                <div class="text">
                  <div class="text_arrow">
                    <div class="text_arrow-title">
                      Escuchar, <br> Observar, <br> Entender
                    </div>
                    <div class="text_arrow-description">
                      Conocemos las necesidades, inquietudes y objetivos del cliente mediante una conversación empática y abierta para el intercambio libre de ideas.
                    </div>
                  </div>
                </div>
              </div>
              <div class="scroll_item">
                <div class="image">
                </div>
                <div class="text">
                  <div class="arrow">
                    <img src="assets/images/Flecha_ProcesoCreativo@4x.png" alt="arrow">
                  </div>
                  <div class="text_arrow">
                    <div class="text_arrow-title">
                      Aterrizar <br> las ideas <br> clave
                    </div>
                    <div class="text_arrow-description">
                      Transformamos esas ideas en una propuesta creativa coherente, alineando el proyecto con la identidad del cliente y sus objetivos.
                    </div>
                  </div>
                </div>
              </div>
              <div class="scroll_item">
                <div class="image">
                </div>
                <div class="text">
                  <div class="arrow">
                    <img src="assets/images/Flecha_ProcesoCreativo@4x.png" alt="arrow">
                  </div>
                  <div class="text_arrow">
                    <div class="text_arrow-title">
                      Estructurar <br> la propuesta <br> de valor
                    </div>
                    <div class="text_arrow-description">
                      Aplicamos todo nuestro expertise para planificar, estructurar y organizar la estrategia ganadora.
                    </div>
                  </div>
                </div>
              </div>
              <div class="scroll_item">
                <div class="image">
                </div>
                <div class="text">
                  <div class="arrow">
                    <img src="assets/images/Flecha_ProcesoCreativo@4x.png" alt="arrow">
                  </div>
                  <div class="text_arrow">
                    <div class="text_arrow-title">
                      Ejecutar una <br> experiencia <br> única
                    </div>
                    <div class="text_arrow-description">
                      Llevamos a cabo la estrategia, convirtiéndola en una experiencia única, sólida y creativamente efectiva.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="principal_button">
          NUESTROS SERVICIOS
        </button>
      </div>
    </div>

    <app-main-projects page="main-landing"></app-main-projects>

    <div class="our_clients">
      <div class="title">
        Nuestros <br> clientes
      </div>

      <div class="clients_list">
        <div class="client_list-container">
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
          <div class="client_item">
            <div></div>
          </div>
        </div>
      </div>
    </div>

    <app-main-footer></app-main-footer>

  </div>
</div>
