@import "variables.scss";
@import "btn.mixin.scss";
@import "element-footer.mixin.scss";

:host {
  .no-tablet {
    display: block !important;
    @media (min-width: 768px) and (max-width: 1024px) {
      display: none !important;
    }
  }

  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    // NEW
    contain: paint;
    .main_container {
      width: 100%;
      height: 100vh;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      app-navbar {
        position: sticky;
        width: 100%;
        top: 0px;
        z-index: 10;
      }
    }
  }

  .principal_button {
    @include btn-basic();
  }

  .principal_footer {
    @include element-footer();
  }

  .principal {
    padding: 0px 20px 50px 20px;
    @media (min-width: 425px) {
      padding: 0px 50px 50px 50px;
      max-width: 1440px;
      width: 100%;
    }
    @media (min-width: 768px) {
      padding: 0px 50px 50px 50px;
      max-width: 1440px;
      width: 100%;
    }
    @media (min-width: 1024px) {
      padding: 0px 50px 50px 50px;
      max-width: 1440px;
      width: 100%;
    }
    @media (min-width: 1440px) {
      padding: 0px 75px 75px 75px;
      max-width: 1440px;
      width: 100%;
    }

    .principal_container {
      @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        height: 620px;
      }
      @media (min-width: 1024px) {
        display: flex;
        justify-content: center;
        height: 720px;
      }
      @media (min-width: 1440px) {
        height: 920px;
      }
      .title {
        @media (min-width: 768px) {
          display: flex;
          justify-content: start;
          width: 50%;
        }
        @media (min-width: 1024px) {
          display: flex;
          justify-content: start;
          width: 50%;
        }
        @media (min-width: 1440px) {
          justify-content: start;
        }
        .title_container {
          margin-top: 30px;
          font-size: 38.5px;
          line-height: 32.5px;
          font-family: "ai-bold";
          @media (min-width: 768px) {
            width: fit-content;
            margin-top: 82px;
            font-size: 40px;
            line-height: 38px;
          }
          @media (min-width: 1024px) {
            width: fit-content;
            margin-top: 82px;
            font-size: 60px;
            line-height: 58px;
          }
          @media (min-width: 1440px) {
            margin-top: 112px;
            width: max-content;
            font-size: 82px;
            line-height: 68px;
          }
        }
      }

      .principal_body {
        width: 100%;
        @media (min-width: 768px) {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: end;
          padding-bottom: 100px;
        }
        @media (min-width: 1024px) {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: end;
          padding-bottom: 90px;
        }
        @media (min-width: 1440px) {
          padding-bottom: 100px;
        }
        .logo_circle {
          margin: 32px 0 21px 0;
          width: 168px;
          @media (min-width: 768px) {
            width: 165px;
          }
          @media (min-width: 1024px) {
            width: 215px;
          }
          @media (min-width: 1440px) {
            width: 315px;
          }
        }

        .subtext {
          padding-right: 9%;
          font-size: 14px;
          letter-spacing: 0.5px;
          font-family: "ai-li";
          @media (min-width: 425px) {
            font-size: 15px;
            margin-top: 10px;
            max-width: 360px;
          }
          @media (min-width: 768px) {
            padding-right: 0%;
            font-size: 15px;
            margin-top: 10px;
            padding-left: 25px;
            max-width: 360px;
          }
          @media (min-width: 1024px) {
            font-size: 19px;
            margin-top: 10px;
            padding-left: 35px;
            max-width: 430px;
          }
          @media (min-width: 1440px) {
            font-size: 24px;
            padding-left: 45px;
            max-width: 560px;
          }
          span {
            font-family: "ai-bold";
          }
        }
      }
    }

    .principal_footer {
      margin-top: 57px;
      width: 100%;

      @media (min-width: 768px) {
        margin-top: 0px;
      }
      @media (min-width: 1024px) {
        margin-top: 0px;
      }
      @media (min-width: 1440px) {
        margin-top: 0px;
      }
    }
  }

  .our_clients {
    @media (min-width: 425px) {
      max-width: 1440px;
      width: 100%;
    }
    @media (min-width: 768px) {
      max-width: 1440px;
      width: 100%;
    }
    @media (min-width: 1024px) {
      max-width: 1440px;
      width: 100%;
    }
    @media (min-width: 1440px) {
      max-width: 1440px;
      width: 100%;
    }
    .title {
      font-size: 32.5px;
      line-height: 35px;
      font-family: "ai-bold";
      padding: 0 20px;
      margin-bottom: 62px;

      @media (min-width: 425px) {
        padding: 0 50px;
      }
      @media (min-width: 768px) {
        font-size: 45px;
        line-height: 40px;
        padding: 0 50px;
      }
      @media (min-width: 1024px) {
        font-size: 47px;
        line-height: 40px;
        padding: 0 75px;
      }
      @media (min-width: 1440px) {
        font-size: 50px;
        line-height: 40px;
        padding: 0 75px;
      }
    }

    .clients_list {
      width: 100vw;
      display: flex;
      justify-content: center;
      padding: 0px 20px;

      @media (min-width: 425px) {
        padding: 0px 50px;
      }
      @media (min-width: 768px) {
        padding: 0px 50px;
      }
      @media (min-width: 1024px) {
        padding: 0px 50px;
      }
      @media (min-width: 1440px) {
        justify-content: start;
        width: auto;
        padding: 0 75px;
      }
      .client_list-container {
        display: flex;
        flex-wrap: wrap;
        display: grid;
        margin-bottom: 42px;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-row-gap: 15px;
        width: 100%;

        @media (min-width: 425px) {
          grid-template-columns: 33.33% 33.33% 33.33%;
          width: 100%;
        }
        @media (min-width: 768px) {
          margin-bottom: 85px;
          width: 100%;
        }
        @media (min-width: 1024px) {
          grid-template-columns: 25% 25% 25% 25%;
          margin-bottom: 85px;
          width: 100%;
        }
        @media (min-width: 1440px) {
          margin-bottom: 85px;
          width: 100%;
        }
        .client_item {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 100%;
          height: 51.5px;

          @media (min-width: 425px) {
            width: 100%;
            height: 90px;
          }
          @media (min-width: 768px) {
            width: 100%;
            height: 120px;
          }
          @media (min-width: 1024px) {
            width: 100%;
            height: 140px;
          }
          @media (min-width: 1440px) {
            width: 100%;
            height: 140px;
          }
          > div {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
          &:nth-child(1) {
            > div {
              width: 100px;
              height: 60px;

              @media (min-width: 425px) {
                width: 130px;
                height: 60px;
              }
              @media (min-width: 768px) {
                width: 180px;
                height: 60px;
              }
              @media (min-width: 1024px) {
                width: 200px;
                height: 60px;
              }
              @media (min-width: 1440px) {
                width: 280px;
                height: 60px;
              }
              background-image: url("./../../../../public/assets/images/Logos_Clientes/logo_Marathon4x.png");
            }
          }
          &:nth-child(2) {
            > div {
              width: 60px;
              height: 60px;

              @media (min-width: 425px) {
                width: 80px;
                height: 80px;
              }
              @media (min-width: 768px) {
                width: 120px;
                height: 120px;
              }
              @media (min-width: 1024px) {
                width: 159.5px;
                height: 120px;
              }
              @media (min-width: 1440px) {
                width: 159.5px;
                height: 120px;
              }
              background-image: url("./../../../../public/assets/images/Logos_Clientes/logo_Rems4x.png");
            }
          }
          &:nth-child(3) {
            > div {
              width: 90px;
              height: 60px;

              @media (min-width: 425px) {
                width: 110px;
                height: 60px;
              }
              @media (min-width: 768px) {
                width: 170px;
                height: 60px;
              }
              @media (min-width: 1024px) {
                width: 200px;
                height: 60px;
              }
              @media (min-width: 1440px) {
                width: 200px;
                height: 60px;
              }
              background-image: url("./../../../../public/assets/images/Logos_Clientes/logo_centrum_pucp4x.png");
            }
          }
          &:nth-child(4) {
            > div {
              width: 80px;
              height: 60px;

              @media (min-width: 425px) {
                width: 110px;
                height: 70px;
              }
              @media (min-width: 768px) {
                width: 129px;
                height: 120px;
              }
              @media (min-width: 1024px) {
                width: 189.5px;
                height: 120px;
              }
              @media (min-width: 1440px) {
                width: 189.5px;
                height: 120px;
              }
              background-image: url("./../../../../public/assets/images/Logos_Clientes/logo_netafilm4x.png");
            }
          }
          &:nth-child(5) {
            > div {
              width: 80px;
              height: 60px;

              @media (min-width: 425px) {
                width: 100px;
                height: 70px;
              }
              @media (min-width: 768px) {
                width: 130.5px;
                height: 80px;
              }
              @media (min-width: 1024px) {
                width: 170.5px;
                height: 80px;
              }
              @media (min-width: 1440px) {
                width: 200.5px;
                height: 100px;
              }
              background-image: url("./../../../../public/assets/images/Logos_Clientes/logo_negocios_inmobiliarios4x.png");
            }
          }
          &:nth-child(6) {
            > div {
              width: 90px;
              height: 47px;

              @media (min-width: 425px) {
                width: 100px;
                height: 47px;
              }
              @media (min-width: 768px) {
                width: 160px;
                height: 47px;
              }
              @media (min-width: 1024px) {
                width: 209.5px;
                height: 47px;
              }
              @media (min-width: 1440px) {
                width: 209.5px;
                height: 47px;
              }
              background-image: url("./../../../../public/assets/images/Logos_Clientes/logo_im_henderson4x.png");
            }
          }
          &:nth-child(7) {
            > div {
              width: 60px;
              height: 60px;

              @media (min-width: 425px) {
                width: 100px;
                height: 70px;
              }
              @media (min-width: 768px) {
                width: 160px;
                height: 90px;
              }
              @media (min-width: 1024px) {
                width: 209.5px;
                height: 120px;
              }
              @media (min-width: 1440px) {
                width: 209.5px;
                height: 120px;
              }
              background-image: url("./../../../../public/assets/images/Logos_Clientes/logo_huanwil4x.png");
            }
          }
          &:nth-child(8) {
            > div {
              width: 60px;
              height: 60px;
              @media (min-width: 425px) {
                width: 110px;
                height: 70px;
              }
              @media (min-width: 768px) {
                width: 160px;
                height: 90px;
              }
              @media (min-width: 1024px) {
                width: 209.5px;
                height: 120px;
              }
              @media (min-width: 1440px) {
                width: 209.5px;
                height: 120px;
              }
              background-image: url("./../../../../public/assets/images/Logos_Clientes/logo_Regatas.png");
            }
          }
          &:nth-child(9) {
            > div {
              width: 60px;
              height: 60px;

              @media (min-width: 425px) {
                width: 110px;
                height: 70px;
              }
              @media (min-width: 768px) {
                width: 160px;
                height: 80px;
              }
              @media (min-width: 1024px) {
                width: 169.5px;
                height: 80px;
              }
              @media (min-width: 1440px) {
                width: 209.5px;
                height: 100px;
              }
              background-image: url("./../../../../public/assets/images/Logos_Clientes/logo_DLAPiper.png");
            }
          }
          &:nth-child(10) {
            > div {
              width: 100px;
              height: 70px;

              @media (min-width: 425px) {
                width: 130px;
                height: 70px;
              }
              @media (min-width: 768px) {
                width: 160px;
                height: 90px;
              }
              @media (min-width: 1024px) {
                width: 209.5px;
                height: 120px;
              }
              @media (min-width: 1440px) {
                width: 209.5px;
                height: 100px;
              }
              background-image: url("./../../../../public/assets/images/Logos_Clientes/logo_HernandezyCia.png");
            }
          }
          &:nth-child(11) {
            > div {
              width: 60px;
              height: 60px;

              @media (min-width: 425px) {
                width: 100px;
                height: 70px;
              }
              @media (min-width: 768px) {
                width: 160px;
                height: 80px;
              }
              @media (min-width: 1024px) {
                width: 209.5px;
                height: 80px;
              }
              @media (min-width: 1440px) {
                width: 209.5px;
                height: 90px;
              }
              background-image: url("./../../../../public/assets/images/Logos_Clientes/logo_REM.png");
            }
          }
          &:nth-child(12) {
            > div {
              width: 60px;
              height: 60px;

              @media (min-width: 425px) {
                width: 100px;
                height: 70px;
              }
              @media (min-width: 768px) {
                width: 160px;
                height: 80px;
              }
              @media (min-width: 1024px) {
                width: 209.5px;
                height: 80px;
              }
              @media (min-width: 1440px) {
                width: 209.5px;
                height: 90px;
              }
              background-image: url("./../../../../public/assets/images/Logos_Clientes/Logo_Lima_Airport.png");
            }
          }
        }
      }
    }
  }
}
